@charset "UTF-8";
label {
  padding: 0;
  margin: 0;
  padding-right: 10px;
}

/* 페이징 style  */
#content .sStokes .paginate {
  text-align: center;
  margin-top: 40px;
}

#content .sStokes .paginate a, #content .sStokes .paginate strong {
  display: inline-block;
  _position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 34px;
  height: 34px;
  line-height: 34px;
  margin: 0 1px;
  vertical-align: top;
  font-size: 14px;
  letter-spacing: -0.7px;
  text-align: center;
  color: #b1b9cb;
  border-radius: 3px;
  border: 1px solid #e8eaf1;
  background-color: #fff;
}

#content .sStokes .paginate strong, #content .sStokes .paginate a:hover {
  color: #7389af;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #b2b9c9;
}

#content .sStokes .paginate a:hover {
  font-size: 14px;
  text-decoration: none;
}

#content .sStokes ul, #content .sStokes ol, #content .sStokes li, #content .sStokes p, #content .sStokes input[type=checkbox], #content .sStokes input[type=radio] {
  list-style: none;
  padding: 0;
  margin: 0;
}

#content .sStokes input[type=checkbox], #content .sStokes input[type=radio] {
  margin-right: 3px;
}

#content .sStokes .ui-datepicker-trigger {
  padding: 3px 3px;
}

#content .sStokes .h2_title {
  font-size: 16px;
}

#content .sStokes .h2_title strong {
  font-size: 24px;
  font-weight: bold;
}

#content .sStokes .h3_title {
  margin-top: 20px;
  font-size: 20px;
}

#content .sStokes .page_nav {
  margin-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

#content .sStokes .page_nav a {
  color: #7389af;
}

#content .sStokes .formWrap {
  position: relative;
}

#content .sStokes .formWrap .sch_box {
  border: 2px solid #474544;
  margin-top: 7px;
  margin-bottom: 25px;
  padding: 7px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#content .sStokes .formWrap .info_box {
  display: none;
  background-color: #fff;
  padding: 15px 15px;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  right: 6%;
  top: -100px;
  z-index: 99;
}

#content .sStokes .formWrap .list_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content .sStokes .formWrap .btn_help {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  background-color: #3276b1;
}

#content .sStokes .formWrap .btn_sch {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  color: #fff;
  padding: 2px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  background-color: #3276b1;
  text-decoration: none;
}

#content .sStokes .formWrap .searchArea {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

#content .sStokes .formWrap .AutoComplete {
  border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  border: 1px solid #474544;
  z-index: 85;
  width: 300px;
  max-height: 185px;
  overflow: auto;
  overflow-x: hidden;
  -webkit-box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.09);
}

#content .sStokes .formWrap .AutoComplete .autocomplete_list {
  padding: 0;
}

#content .sStokes .formWrap .AutoComplete .no_result {
  font-size: 15px;
  letter-spacing: -0.33px;
  color: #656d7e;
  padding: 5px 10px;
}

#content .sStokes .formWrap .AutoComplete li {
  line-height: 1;
  padding: 8px 10px;
  padding-bottom: 5px;
}

#content .sStokes .formWrap .AutoComplete li a {
  display: block;
  font-size: 13px;
  letter-spacing: -0.33px;
  color: #656d7e;
}

#content .sStokes .formWrap .AutoComplete li a strong {
  font-weight: 700;
}

#content .sStokes .formWrap .AutoComplete li:nth-child(2n) {
  background: #f4f6fa;
}

#content .sStokes .formWrap .AutoComplete li .schCode {
  padding-right: 7px;
}

#content .sStokes .formWrap .AutoComplete li._on {
  background-color: #646a86;
}

#content .sStokes .formWrap .AutoComplete li._on a, #content .sStokes .formWrap .AutoComplete li._on strong, #content .sStokes .formWrap .AutoComplete li._on span {
  color: #fff;
}

#content .sStokes .cont_wrap .left .top_sch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content .sStokes .cont_wrap .item_wrap {
  background-color: #fff;
  padding: 5px 5px;
}

#content .sStokes .cont_wrap .item_wrap .sch_name {
  font-weight: bold;
}

#content .sStokes .cont_wrap .fieldset_table {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 13px 13px 0;
}

#content .sStokes .cont_wrap .fieldset_table ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 10px 0;
}

#content .sStokes .cont_wrap .fieldset_table ul li {
  font-size: 12px;
}

#content .sStokes .cont_wrap .fieldset_table ul li.th {
  -ms-flex-preferred-size: 120px;
      flex-basis: 120px;
  font-size: 12px;
  font-weight: bold;
}

#content .sStokes .cont_wrap .fieldset_table ul li.td {
  width: 100%;
}

#content .sStokes .cont_wrap .fieldset_table ul li.td .schName {
  font-size: 14px;
}

#content .sStokes .cont_wrap .fieldset_table ul li .comlogo {
  display: inline-block;
  margin-top: 10px;
  max-width: 100px;
  max-height: 100px;
}

#content .sStokes .btnWrap {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
}

#content .sStokes .btnWrap .btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  font-size: 16px;
  color: #fff;
  min-width: 100px;
  padding: 7px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  background-color: #3276b1;
  text-decoration: none;
}

#content .sStokes .btnWrap .btn_formSave {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  font-size: 16px;
  color: #fff;
  min-width: 100px;
  padding: 7px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  background-color: #3276b1;
  text-decoration: none;
}

#content .sStokes .btnWrap .btn_list {
  background-color: #a90329;
}

#content .sStokes .cont_wrap {
  padding: 15px 0;
}

#content .sStokes .flexArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

#content .sStokes .flexArea .left {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#content .sStokes .flexArea .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #fff;
}

#content .sStokes .table .searchArea {
  margin-top: 0;
  margin-bottom: 0;
}

#content .sStokes table th, #content .sStokes table td {
  text-align: center;
  font-size: 12px;
}

#content .sStokes table th.increase.per, #content .sStokes table td.increase.per {
  color: #c22e06;
}

#content .sStokes table th.decrease.per, #content .sStokes table td.decrease.per {
  color: #4389f8;
}

#content .sStokes table th.order, #content .sStokes table td.order {
  cursor: pointer;
}

#content .sStokes .row_table th, #content .sStokes .row_table td {
  padding: 10px 5px;
  text-align: left;
}

#content .sStokes .row_table th {
  font-weight: bold;
  border-color: #60747c;
  color: #f0f0f0;
  background: #70848c;
}

#content .sStokes .tabsArea .tabs {
  position: relative;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 5px;
  border-bottom: 1px solid #474544;
}

#content .sStokes .tabsArea .tabs li {
  cursor: pointer;
  padding: 5px 20px 4px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-bottom: none;
}

#content .sStokes .tabsArea .tabs li.active {
  background-color: #474544;
  color: #E4E4E4;
}
