@import "base/reset"; // 리셋
@import "helpers/mixins"; // mixin
@import "helpers/functions"; // functions

@import "layout/grid"; // 그리드
@import "layout/header"; // 헤더
@import "layout/footer"; // 푸터
@import "layout/container"; // 컨테이너

@import "pages/home"; // 메인화면
@import "pages/recom"; // 추천
@import "pages/diagnosis"; // 진단
@import "pages/search"; // 검색
@import "pages/excavation"; // 발굴
@import "pages/menu"; // 메뉴
@import "pages/alarm"; // 알림, 모닝브리핑

// Typography
body {
    @include font-family;              
}  
.globalStock .wrap {                
    @include pad(0);    
    font-size: 1rem;
    background: #000;  
}

@include tablet {    
    /* tablet */
    .globalStock .wrap {

    }  
}

@include mobile375 {    
    /* mobile375 */
    .globalStock .wrap {

    }    
}

@include mobile {    
    /* mobile320 */
    .globalStock .wrap {

    }    
}

// components

/* table */
.globalStock .tableRanking.box_table {
    border: 0;        
    width: calc(100% - 30px);
    background-color: #f6f7fa;
    border-radius: 16px;    
    box-sizing: border-box;

    th, td {
        box-sizing: border-box;
        vertical-align: top;
    }
    td {
        padding: 14px 3px 0 11px;
    }
    tr:first-child {
        td {
            padding-top: 19px;            
        }        
        .prm_lock {            
            padding-top: 24px !important;
        }
    }
    tr:last-child {
        td {
            padding-bottom: 17px;
        }        
    }
    .title {
        max-width: 110px;      
        a {                    
            @include white-space;
            padding-top: 2px;
            color: $col333;
            font-size: $font15;                    
            font-weight: 400;
            line-height: normal;
        }
        span {
            font-size: $font15;                    
            letter-spacing: -0.75px;                    
            color: $col333;
        }
    }    
    .num {
        text-align: right;
        padding-right: 20px;

        span {
            display: block;
            font-size: $font15;
            color: $col333;
            vertical-align: top;            
            b {
                font-weight: normal;                
            }

            &.increase {
                color: $colred;                        
                font-size: $font13;
                text-align: right;
                b {
                    font-weight: normal;
                    color: $colred;                        
                }

            }
            &.decrease {
                color: $colblue;   
                font-size: $font13;             
                text-align: right;
                b {
                    font-weight: normal;
                    color: $colblue;                        
                }
            }
            &.hit {
                font-size: 10px;                
                letter-spacing: normal;
                text-align: right;
                color: $colgray;
                font-weight: 300;
            }

            
        }

    }
    .prm_lock {
        padding-right: 20px;
        padding-top: 16px !important;
    }
    .score {
        text-align: left;
        padding-left: 0;
        span {
            font-size: $font15;
            font-weight: bold;
            letter-spacing: normal;            
            color: $colgray;
            b {
                color: $colgray;
                font-weight: 300;
            }
        }
    }
    .recom {
        text-align: center;
        padding-right: 20px;
        span {
            font-size: $font15;                        
            letter-spacing: normal;            
            color: $colgray;
        }
    }
}
.th_guide_hide .guide_box {
    display: none;
	border:1px solid #E4E7EB;
	z-index:80;
	position:absolute;
	left:54px;
	padding:0 15px;
	background:#fff;
	box-sizing:border-box;

    .clse {
        display:inline-block;
        font-size:0;
        width:16px;
        height:16px;
        position:absolute;
        right:15px;
        top:15px;
        background:url('/img/clse.png') no-repeat 0 0;
        background-size:100% 100%;
    }
    &.show {
        display:block;
    }
    &.hide {
        display:none;
    }
    .title {
        font-weight:bold;
        display:block;
        color:#333;
        font-size:1rem;
        line-height:22px;
        text-align:left;
    }
    ul {
        margin:2px auto;
    }
    ul li {
        color:#939393;
        text-align:left;
        line-height:22px;
        font-size:0.75rem;
    }
    ul li strong {
        font-weight:bold;
        color:#444;
        font-size:0.8rem;
        margin-right:5px;
    }    
    .th_guide_hide .guide_box.hide {
        display:none;
    }
}
.th_guide_hide.txt02 .guide_box {
	left:auto;
	right:5px;
}

.guide_layer {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0);
	z-index: -1;
}

/* 별점 */
.star_area {    
    .starRev {
        font-size: 0;
        vertical-align: top;
    }
    .starR {
        background:url('/img/ico_review.svg') no-repeat -21px 0;
        background-size:auto 100%;	
        display:inline-block;
        text-indent:-9999px;
        cursor:pointer;
        margin: 0 1px;        
        width:14px;
        height:14px;    
        
        &.on {
            background-position:0 0;
        }
        &.half {
            background-position: right 0 !important;
        }
    }
    &.w12 {
        .starR {
            background-position: -18px 0;
            background-size:auto 12px;	
            width:12px;
            height:12px;            

            &.on {
                background-position:0 0;
            }
            &.half {
                background-position: right 0 !important;
            }
        }
    }
}

/* 버튼 */
.globalStock .btn_more {
    padding: 8px 10px;    
    border-radius: 10px;
    border: solid 1px #e1e5ef;
    text-align: center;

    a {
        color: $colgray;
        font-size: $font12;
    }
}

/* 탭메뉴 */
.globalStock .tab_area {    
    margin-top: 12px;
    .tbas_lb  {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            flex: 1;
            text-align: center;

            a {
                display: inline-block;
                width: 100%;
                font-size: $font16;
                line-height: 1.31;
                letter-spacing: -0.8px;                
                color: $colsilver;
                padding-bottom: 13px;
                border-bottom: 1px solid #e1e5ef;    
            }
            &.active {                    
                a {
                    font-weight: bold;
                    color: $colorg;
                    padding-bottom: 11px;
                    border-bottom: 3px solid $colorg;                
                }                
            }   
        }
    }
    .tabs.inside_tabs {                
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            flex: 1;
            text-align: center;
            display: inline-block;
            width: 100%;
            font-size: $font16;
            line-height: 1.31;
            letter-spacing: -0.8px;                
            color: $colsilver;
            padding-bottom: 13px;
            border-bottom: 1px solid #e1e5ef;    
            a.tabhash {          
                display: inline-block;      
                width: 100%;
                height: 100%;
                box-sizing: border-box;

            }
            
            &.active {                                    
                font-weight: bold;
                color: $colorg;
                padding-bottom: 11px;
                border-bottom: 3px solid $colorg;                                
            }                           
        }
    }
}

/* form */
.globalStock .main_searching {
    margin-top:14px;    

    .searchArea {
        margin:0 auto;
        width:calc(100% - 30px);
        position:relative;
        text-align:right;

        &.keydown {          
            .top_btn, .sch_title {                                
                display: none;
            }            
            form {
                margin-left: 0;
            }
            .searchInput {
                width:100%;
                padding:0 34px 0 16px;
                border-radius:10px;
                border-bottom-left-radius:0;
                border-bottom-right-radius:0;
                border:1px solid #E0E4E9;
                border-bottom:1px solid #E0E4E9;
            }
        }

        .sch_title {
            color:$col333;
            font-size:1.25rem;
            font-weight:bold;
            text-align:left;
            display:inline-block;
            width:45px;
            line-height:33px;
        }

        .sch_title.keydown {
            display:none;
        }

        .searchInput {
            width:100%;
            padding:0 34px 0 16px;
            border:1px solid #F4F4F5;
            box-sizing:border-box;
            font-size:1rem;
            line-height:36px;
            vertical-align:top;
            color:#939393;
            outline:none;
            border-radius:10px;
            background: #f6f7fa;
        }

        .searchInput.keydown {
            width:100%;
            padding:0 34px 0 16px;
            border-radius:10px;
            border-bottom-left-radius:0;
            border-bottom-right-radius:0;
            border:1px solid #E0E4E9;
            border-bottom:1px solid #E0E4E9;
        }

        .searchInput::placeholder {
            color:$colgray;
        }

        .searchBtn {
            display:inline-block;
            width:18px;
            height:auto;
            position:absolute;
            right:15px;
            top:9px;
        }
    }

    .sch_autocomplete {
        background:#fff;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
        display:none;
        overflow:auto;
        height:100%;
        margin:0 auto;
        width:calc(100% - 30px);
        &.focus_on {
            display:block;
        }
        &._show {
            display:block;
        }

        ul {
            background:#fff;            
            border-top:0;
            border-bottom-right-radius:10px;
            border-bottom-left-radius:10px;

            li {
                padding:7px 16px;
                border:1px solid #E0E4E9;
                border-top:none;

            &:last-child {
                padding-bottom:15px;                
                border-bottom-left-radius:10px;
                border-bottom-right-radius:10px;
                }
            }      
            li a {
                color:#000;
                font-size:0.9rem;
            }      
            li a._on {
                border:none;
                padding:0;
            }      
            li a .schCode {
                line-height:normal;
                color:$col333;
                font-size:0.9rem;
                font-weight:bold;
                width:65px;
                margin-right:10px;
                display:inline-block;
                overflow:hidden;
                text-overflow:ellipsis;
                white-space:nowrap;
            }      
            li a .schList {
                line-height:normal;
                box-sizing:border-box;
                color:#939393;
                display:inline-block;
                width:calc(100% - 80px);
                overflow:hidden;
                text-overflow:ellipsis;
                white-space:nowrap;
            }      
            li a .schList strong {
                color:#939393;
                font-weight:bold;
            }
        }
    }

    .no_result {
        border:1px solid #E0E4E9;
        border-top:none;
        padding:30px 15px;
        text-align:center;

        p {
            color: #939393;
        }
    }
} 

/* 텍스트 필터 */
.globalStock .remark {
    display: inline-block;
    padding-left: 5px;
    .txt_filter {
        display:inline-block;

        & i {
            display:inline-block;
            border-radius:50%;
            background-color:#999;
            margin:0 2px 2px;
        }
        &.size_B i {
            width:11px;
            height:11px;
        }
        &.size_M i {
            width:7px;
            height:7px;
            opacity:0.67;            
        }
    }
}

.globalStock .prm_lock {
    display: inline-block;    

    a {
        display: inline-block;
        background-color: #F6F7FA;        
        padding: 4px 30px 3px;
        border-radius: 10px;
        box-sizing: border-box;
        height: 22px;
        vertical-align: top;
        
        &.lock_gray {        
            background-color: #F6F7FA;                
        }
        &.lock_white {        
            background-color: #fff;        
        }
    }    
}

/* 모달 팝업 */
.md-perspective {
    height:100%;
	overflow:hidden;    

    body {
        height:100%;
        overflow:hidden;
        background:#222;
        -webkit-perspective:600px;
        -moz-perspective:600px;
        perspective:600px;
    }
}

.md-modal {
	position:fixed;
	top:50%;
	left:50%;
	width:95%;
	max-width:630px;
	min-width:320px;
	height:auto;
	z-index:9999;
	visibility:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-transform:translateX(-50%) translateY(-50%);
	-moz-transform:translateX(-50%) translateY(-50%);
	-ms-transform:translateX(-50%) translateY(-50%);
	transform:translateX(-50%) translateY(-50%);
}
.md-show {
	visibility:visible;
}
.md-overlay {
	position:fixed;
	width:100%;
	height:100%;
	visibility:hidden;
	top:0;
	left:0;
	z-index:1000;
	opacity:0;
	background:rgba(0,0,0,0.5);
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;
}
.md-show ~ .md-overlay {
	opacity:1;
	visibility: visible;
}
/* Effect 3:Slide from the bottom */
.md-effect-3 .md-content {
	-webkit-transform:translateY(20%);
	-moz-transform:translateY(20%);
	-ms-transform:translateY(20%);
	transform:translateY(20%);
	opacity:0;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;
}
.md-show.md-effect-3 .md-content {
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0);
	opacity: 1;
}

.globalStock .md-modal {
    #setting {
        width:100%;
        background-color: #fff;
    }
    .attract_table {
        width:100%;
    }
    .attract_table th,
    .attract_table td {
        padding:7px 3px;
        text-align:left;
        line-height:22px;
    }
    .attract_table td .input_radio {
        position:relative;
        top:-2px;
        margin-right:3px;
    }
    .attract_table th {
        padding-bottom:12px;
    }
    .attract_table th span {
        color:#939393;
        font-weight:bold;
        font-size:0.94rem;
    }
    .attract_table td label {
        color:#939393;
        font-size:0.94rem;
    }
    .sort {
        display: flex;
        justify-content: space-between;
    }
    .sort li {
        flex: 1;
        display:inline-block;
        background:#f6f7fa;
        border:1px solid #e0e4e9;
        border-radius:8px;
        margin: 0 5px;
        padding-top:10px;	
        height:48px;
        line-height:48px;
        box-sizing:border-box;
        vertical-align:top;
    }
    .sort li a {
        display:inline-block;
        padding:5px 5px;
        text-align:center;
        line-height:18px;
        font-weight:normal;
        font-size:0.75rem;
        color:#939393;
    }
    
    .sort li.active {
        background:#e57828;
        color:#fff;
    }
    .sort li.active a {
        color:#fff;
    }
    legend {
        display:none
    }
    .ly_header {
        margin:0 0 5px;
        padding:8px 0 7px 11px;
        background:#f4f4f4;
        color:#000;
        font-size:13px;
        font-weight:bold
    }
    .ly_body {
        margin:0 20px;
        padding:15px 0 4px;
        color:#444;
        font-size:12px
    }
    .ly_body dt {
        margin:0 0 9px
    }
    .ly_body dd {
        margin:0 0 6px
    }
    .ly_body .input_radio {
        _margin:-3px;
        vertical-align:middle
    }
    .close_layer {
        position:absolute;
        top:9px;
        right:9px
    }
    .shadow {
        _display:none;
        overflow:visible;
        position:absolute;
        z-index:10;
        width:100%;
        height:100%
    }
    .pop_footer {
        margin:20px 0 0;
        padding:15px 0 15px;
        border-top:1px solid #e1e5ef;
        text-align:center
    }
    .pop_footer .title {
        color:#939393;
        font-weight:bold;
        font-size:0.94rem;
        text-align:left;
        display:block;
        margin-bottom:15px;
    }
    .pop_footer input, a, .pop_footer img {
        vertical-align:top
    }
    .pop_footer input, .pop_footer a {
        margin: 0 1px 0 0
    }
    .pop_footer .btnArea {
        margin-top: 35px;
        width: 100%;
    }
    .pop_footer .btnArea .btn.btn_save {
        display: block;    
        background: #e57828;
        border: 1px solid #e57828;
        color: #fff;
        width: 100%;
        border-radius: 7px;
        padding: 5px 0;
        color: $font12;
    }
}

.globalStock .setting_pop {
	display:none;
	position:fixed;
	_position:absolute;
	top:0;
	left:0;
	z-index:10000;
	width:100%;
	height:100%;

    &.open {
        display:block
    }
    .bg {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:#000;
        opacity:.5;
        filter:alpha(opacity=50);
        z-index:81;
    }
}

.globalStock .popLogo {
	text-align:center;
	margin-bottom:50px;
}
.globalStock #setting {
	padding:5px 0 0 0;
	border:1px solid #fff;
	background:#fff;
	line-height:normal;
	white-space:normal;
	width:95%;
	background:#F4F4F5;
	border-radius:20px;
	z-index:82;

    .pop_header {
        border-bottom:1px solid #e1e5ef;
        padding:6px 20px 10px;

        .close {
            position:absolute;
            right:15px;
            top:15px;
            width:15px;
        }        
        .close img {
            display:inline-block;
            width:100%;
        }
        .pop_title {
            text-align:center;
            color:#333;
            font-size:0.94rem;
        }
    }
    
    .pop_con {
        padding: 15px 20px 0;
        background-color: #fff;
        border-radius: 20px;
    }
}
