/* 진단 */
.globalStock .sub_search .latest_results {

    .tab_container {        
        .tab_content {            
            .onestep_guide {
                display: flex;
                justify-content: space-between;            
                flex-wrap: wrap;
                padding:14px 14px;
                background:#fcfcfc;             
    
                .h2_title {
                    color: $col333;
                    font-size: $font14;                
                    line-height: 24px;                
                }
                .txt {
                    margin-top: 7px;
                    font-size: $font14;
                    line-height: 1.43;
                    letter-spacing: normal;                
                    color: $colgray;
                }
                .more {
                    display:inline-block;
                    padding: 0 18px 0 9px;
                    border-radius:3px;
                    background-color:$colorg;
                    text-align:center;                
                    position:relative;            
                    
                    span {
                        font-size: $font12;                                
                        line-height: 24px;                
                        color: #fff;
                    }
                    &::after {
                        content: '';
                        @include pCenter(4px, 4px);
                        left: calc(100% - 15px);
                        right: auto;                
                        display: inline-block;    
                        border-top: 1px solid #fae34c;
                        border-right: 1px solid #fae34c;
                        transform: rotate(45deg);                
                    }
                }            
            }

            .onestep_chart {
                margin-top: 24px;

                .chart_wrap {
                    position:relative;
                    padding-right:15px;
                }        
                .labels_x span {
                    position:absolute;
                    bottom:-20px;
                    left:0;
                }
                .labels_y span {
                    vertical-align:top;
                    left:8px;
                    position:absolute;
                    -webkit-transform:rotate(-90deg);
                    -moz-transform:rotate(-90deg);
                }
                .labels_y span,
                .labels_x span {
                    display:inline-block;
                    font-size: 10px;                                        
                    letter-spacing: normal;                    
                    color: $colgray;                    
                }                
                .labels_y span:nth-child(1) {
                    top:11px;
                }
                .labels_y span:nth-child(2) {
                    top:45%;
                    left:-5px;
                    color:$col333;
                    font-size:$font12;
                    font-weight:bold;
                }
                .labels_y span:nth-child(3) {
                    bottom:10px;
                }
                .labels_x span:nth-child(1) {
                    left:44px;
                }
                .labels_x span:nth-child(2) {
                    left:50%;
                    margin-left:-10px;
                    color:$col333;
                    font-size:$font12;
                    font-weight:bold;
                }
                .labels_x span:nth-child(3) {
                    left:calc(100% - 32px);
                }
                .highcharts-figure {
                    margin-left:38px;
                    margin-bottom:30px;
                    height:202px;
                    position:relative;
                    .charts_figure {
                        height:202px;                
                    }

                    .average {
                        position: absolute;
                        margin-left: -22px;
                        margin-top: -22px;
                        width: 42px;
                        height: 42px;
                        line-height: 1.2;
                        box-sizing: border-box;
                        color: #fff;
                        font-size: 10px;
                        text-align: center;
                        display: inline-block;
                        padding: 8px 8px;
                        border-radius: 50%;                                                
                        border: 1px solid #d77e3d;
                        background-color: rgba(255, 178, 54, 0.7);
                    }
                    .highcharts-background {
                        background-color: rgb(246, 247, 250);
                        fill : rgb(246, 247, 250);                        
                    }
                    path {
                        fill : rgb(246, 247, 250);                                                 
                    }
                    .highcharts-point {
                        stroke-width: 0;
                    }
                    text {
                        fill: $colorg !important;
                        color: $colorg !important;
                        font-size: 10px !important;

                        path {
                            fill: rgb(255, 245, 226);          
                        }

                        tspan {
                            stroke-width: 0;
                        }                        
                    }
                }

                .nodata_guide {
                    color: $colgray;
                    font-size: $font12;
                    text-align: right;
                    margin-top: 5px;
                    margin-right: 15px;
                }

                .dgtic_results {
                    padding:24px 14px 0;
                    display: flex;
                    justify-content: space-between;            
                    flex-wrap: wrap;
                }
                .dgtic_results div {   
                    flex: 1;                 
                    vertical-align:top;
                    border-radius:5px;
                    box-sizing:border-box;
                }
                .dgtic_results div ul {
                    padding:7px 7px;
                    box-sizing:border-box;
                }
                .dgtic_results .hope {
                    background:#F6F7FA;
                }
                .dgtic_results .caution {
                    background:#f6f7fa;
                    margin-left: 5px;
                }
                .dgtic_results .h3_title {
                    font-size: $font12;                                                            
                    text-align: left;                    
                    border-bottom:1px solid #fff;
                    padding:9px 9px;
                    font-weight:bold;
                }
                .dgtic_results .hope .h3_title {                    
                    color: $col333;                    
                }
                .dgtic_results .caution .h3_title {                    
                    color: $col333;
                }
                .dgtic_results li {
                    display:inline-block;
                    padding:2px 0 2px;
                }
                .dgtic_results li a {
                    display:inline-block;
                    font-size: 11px;
                    line-height: 1.36;                    
                    text-align: center;
                    color: #fff;       
                    padding:3px 7px;                    
                    border-radius:12px;
                }
                .dgtic_results .hope li a {
                    color:#fff;
                    background:$colorg;
                }
                .dgtic_results .caution li a {
                    color:#fff;
                    background:#ccd1d5;
                }
                .dgtic_results .no_event {
                    color:$colgray;
                    font-size:10px;
                    text-align:center;
                    margin:30px auto;
                    width:100%;
                }
                .dgtic_results .tr_left {
                    color: $colgray;
                    font-size: $font12;
                    text-align: left;
                    margin-top: 15px;                                        
                }
            }

            .tableRanking.box_table {                
                margin: 24px 14px 0;
            }
            
            .one_step {
                display: flex;
                justify-content: center; 
                margin: 24px 0;
                padding: 14px 14px;
                background: #fff5e2;          
                
                &.no_bg {
                    background: none;
                    padding: 0;      
                    margin: 14px 0;              
                }
                .txt {
                    font-size: $font12;
                    color: $col333;    
                    line-height: 24px;                
                }
                a {
                    font-size: $font12;
                    line-height: 24px;
                    color: #fff;
                    display: inline-block;
                    padding: 0 18px 0 9px;
                    border-radius: 3px;
                    background-color: #E57828;
                    text-align: center;
                    position: relative;
                    margin-left: 5px;

                    &::after {
                        content: '';
                        @include pCenter(4px, 4px);
                        left: calc(100% - 15px);
                        top: 1px;
                        right: auto;                
                        display: inline-block;    
                        border-top: 1px solid #fae34c;
                        border-right: 1px solid #fae34c;
                        transform: rotate(45deg);                
                    }
                }
            }

            .btn_list {
                clear: both;
                width: 140px;
                margin: 20px auto 0;
            }
            .btn_list a {
                width: 100%;
                font-size: 0.8125rem;                
                color: #fff;
                display: inline-block;
                padding: 5px 18px;
                box-sizing: border-box;
                border-radius: 3px;
                background-color: #E57828;
                text-align: center;
                position: relative;                
            }

            .txt_box {
                padding: 13px 14px;
                background-color: #fcfcfc;

                .txt {
                    font-size: $font14;                    
                    line-height: 1.43;
                    letter-spacing: normal;
                    text-align: left;
                    color: $colgray;
                }                
            }

            .tab_title {
                margin-top: 32px;
                padding-left: 15px;
                font-size: $font15;
                font-weight: bold;
                color: $col333;

                & + .tableRanking.box_table {
                    margin-top: 16px;
                }
            }
        }
    }    

    //관심종목 없음
    .no_attdata {
        margin:20px auto 50px;
        border-radius:20px;
        background:#f6f7fa url('../img/bg_nodata.png') no-repeat center 50px;
        width:calc(100% - 30px);
        height:400px;
        text-align:center;
        p {
            color:#949494;
            font-size:0.9375rem;
            line-height:1.43;
            padding:250px 15px 0;

            a {
                color:#608bff;
                font-size:0.9375rem;
                text-decoration:underline;
            }
        }        
    }    

    //관심종목 관리, 목록 드래그 드롭    
    .att_wrap {
        background:#f6f7fa;
        padding:20px 0 10px;
        .att_list {
            background:#fff;        
            display:block;
            min-height:300px;
            max-height:336px;
            overflow:auto;
        }
        .att_list::-webkit-scrollbar {
            width:3px;
        }
        .att_list::-webkit-scrollbar-thumb {
            background:#e8e8e8;
        }
        .att_list .list {
            position:relative;
            padding: 0 15px;
        }
        .att_list .list i,
        .att_list .list .btn_del {
            display:inline-block;
            box-sizing:border-box;
            padding:0;
            width:30px;
            height:40px;
            font-size:0;
            background:url('../img/bg_del.png') no-repeat 50% 16px;
            vertical-align:top;
            z-index:999;
        }
        .att_list li {
            background:#fff;
            border:none;
            display:inline-block;
            width:calc(100% - 85px);
            overflow:hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
            padding:12px 0;
            margin-left:10px;
            box-sizing:border-box;
        }
        .att_list li .handle {
            position:absolute;
            right:5px;
            top:4px;
            display:inline-block;
            float:right;
            width:38px;
            height:38px;
            background:url('../img/btn_handle.png') no-repeat center center;
            font-size:0;
            background-size:20px 12px
        }
        .att_list li a {
            color:#333;
            font-size:0.9375rem;
        }
        .att_list li .ticker {
            margin-left:7px;
            color:#d3d3d3;
            font-size:0.78rem;
        }
        .btn_list.fix_btn {
            left:0;
            right:0;
            top:9px;
            margin:0 15px;
            padding:15px 0;
            width: calc(100% - 30px);
            box-sizing:border-box;
            z-index:81;
        }
        .btn_list {
            clear:both;
            width:140px;
            margin:30px auto 0;
        }
        .btn_list a {
            display:block;
            background:#E57828;
            color:#fff;
            font-size:0.9375rem;
            border-radius:3px;
            margin:0 auto;
            box-sizing:border-box;
            text-align:center;
            line-height: 38px;
        }
    }    

}


