// 종목발굴
#container .M_right .contents .excavation_area {
    position: relative;
    .table_update {
        position: absolute;
        right: 0;
        top: -19px;
        display: block;            
        font-size: 10px;
        letter-spacing: -0.25px;
        text-align: right;
        color: #b1b9cb;            
    }    
    .thead2_table {                
        .fix {            
            padding: 0 10px;                        
        }
        td.bdr_r {
            // position: relative;
            border-right: 1px solid #e7eaf2;
            // &::before {
            //     content: "";
            //     position: absolute;
            //     right: 0;
            //     top: 0;
            //     bottom: 0;
            //     width: 1px;
            //     background: #fff url('/img/gray_tdline.gif') repeat-y right top;   
            // }            
        }
        thead {                        
            tr:nth-child(2) {
                td {                    
                    padding: 8.5px 3px;                    
                }
            }            
        }  
        tbody {
            td {                                
                &.txt_name a {
                    color: #527bea;               
                    @include white-space;     
                    max-width: 100px;         
                                                   
                } 
            }            
        }
    }
    
}

// 우량주
#container .M_right .contents .excavation_area.blue_box {           
    .thead2_table {               
        background: url('/img/gray_tdline.gif') repeat-x left bottom;                 
        thead {    
            background: #fff url('/img/gray_thline.gif') repeat-x left top;                    
            tr:first-child {
                th, td {
                    background: #fff url('/img/gray_thline.gif') repeat-x left top;        
                    &.fix {
                        &::before {
                            height: 68px;
                        }
                    }
                }                    
            }            

            tr:nth-child(2) {
                th, td {
                    background: #fff url('/img/gray_tdline.gif') repeat-x left top !important;        
                }                    
                td {                                        
                    &:first-child {
                        background-color: #edf3ff !important;
                        strong {
                            color: $colpmr;
                        }                        
                    }
                }
            }         
            
            th {
                &.fix {
                    &::before {
                        display: none;
                    }
                }
            }
        }  
        tbody {
            tr:first-child {
                th, td {
                    background-image: url('/img/gray_thline.gif');
                    background-position: left top;
                    background-repeat: repeat-x;                    
                }                    
            }  
            th, td {                
                background-image: url('/img/gray_tdline.gif');
                background-position: left top;
                background-repeat: repeat-x;                    
                height: 34px;                
                &.fix {
                    &::before {                        
                        min-height: 34px;
                    }
                }
            }   
            td {                
                &:nth-child(2n - 1) {
                    background-color: #f7f9fc;                                
                }
                &:first-child {
                    background-color: #fff;
                }
            }                      
            tr:last-child {
                border-bottom: 1px solid #e7eaf2;
            }
            
        }        
    }   
}

// 턴어라운드
#container .M_right .contents .excavation_area.ex_turn {
    .thead2_table {    
        th, td {
            padding: 8.5px 12px;
        }
        thead {                            
            th, td {                
                &.fix {
                    &::before {
                        display: none;
                    }
                }
            }        

            tr:nth-child(2) {
                th, td {
                    background-image: url('/img/gray_tdline.gif');
                    background-position: left top;
                    background-repeat: repeat-x;                          
                }                    
                td {                                        
                    &:first-child {
                        background-color: #edf3ff !important;
                        strong {
                            color: $colpmr;
                        }                        
                    }
                }
            }                     
        }  
        tbody {            
            th, td {                
                background-image: url('/img/gray_tdline.gif');
                background-position: left top;
                background-repeat: repeat-x;                          
                height: 34px;                
                &.fix {
                    &::before {                        
                        min-height: 34px;
                    }
                }
            }    
            td {                
                &:nth-child(2n - 1) {
                    background-color: #f7f9fc;                                
                }
                &:first-child {
                    background-color: #fff;
                }
            }                
            
            tr:last-child {
                border-bottom: 1px solid #e7eaf2;
            }
        }        
    }       
}
#container .M_right .contents .excavation_area.turn_box {
    .thead2_table {        
        thead {            
            tr:nth-child(2) {
                td {                    
                    padding: 3.5px 3px;                    
                }
            }           
        }
    }
}

// 실적분석
#container .M_right .contents .excavation_area.result {           
    .thead2_table {               
        th, td {
            padding: 8.5px 12px;
        }        
        thead {    
            background: #fff url('/img/gray_thline.gif') repeat-x left top;                    
            tr:first-child {
                th, td {
                    background: #fff url('/img/gray_thline.gif') repeat-x left top;        
                    &.fix {
                        height: 60px;
                        &::before {
                            height: 59px;
                        }
                    }
                }                    
            }            

            tr:nth-child(2) {
                th, td {
                    padding: 4px 3px;
                    background: #fff url('/img/gray_tdline.gif') repeat-x left top !important;        
                }                                    
            }         
            
            th {
                &.fix {
                    &::before {
                        display: none;
                    }
                }
            }
        }  
        tbody {
            tr:first-child {
                th, td {
                    background-image: url('/img/gray_thline.gif');
                    background-position: left top;
                    background-repeat: repeat-x;                    
                }                    
            }  
            th, td {                
                background-image: url('/img/gray_tdline.gif');
                background-position: left top;
                background-repeat: repeat-x;                    
                height: 34px;                
                &.fix {
                    &::before {                        
                        min-height: 34px;
                    }
                }
            }   
            td {                
                &:nth-child(2n - 1) {
                    background-color: #f7f9fc;                                
                }
                &:first-child {
                    background-color: #fff;
                }
            }                      
            tr:last-child {
                border-bottom: 1px solid #e7eaf2;
            }
            
        }        
    } 
}

// 마이쇼핑
#container .M_right .contents .excavation_area.shopping {           

    @at-root .top_shopping {
        margin-top: 25px;
        .shop_title {
            position: relative;
            display: inline-block;
            font-size: 16px;
            font-weight: $f_sizeB;            
            letter-spacing: -0.4px;            
            color: #45a528;            
            padding-left: 20px;
    
            &::after {            
                content: "";
                display: inline-block;
                position: absolute;
                left: 0;
                top: 0;
                width: 16px;
                height: 100%;
                background: url('/img/icon_shop.svg') no-repeat 0 5px;
            }
        }
        .shop_radio {
            display: inline-block;
            margin-left: 45px;
            
            label {
                padding-right: 15px;            
                span {            
                    padding-left: 5px;
                    font-size: 13px;
                    line-height: 2.85;
                    letter-spacing: -0.65px;
                    color: #656d7e;
                }        
    
                input[type='radio']:checked:before {
                    background:#45a528;
                }
                
            }
             
        }
        
        .shopping_list {        
            margin-top: 8px;
            border-radius: 10px;
            padding: 20px 24px;
            background-color: #f5faf3;
    
            .form_box .set_filter {
                position: relative;
    
                .help_box {
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-size: 10px;                
                    letter-spacing: -0.5px;                                
                    padding-bottom: 1px;
                    margin-left: 15px;                
                    color: #656d7e;                
                    border-bottom: 1px solid #656d7e;   
                    &::after {
                        content: '';
                        display: inline-block;
                        position: absolute;    
                        left: -15px;                    
                        top: 2px;
                        width: 12px;
                        height: 12px;
                        background: url('/img/icon_help.svg') no-repeat 0 0;                    
                    }     
                }
    
                .mid {                
                    position: relative;
                    float: left;
                    width: calc(100% - 170px);
                    &::after {
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 0;                                            
                        bottom: 0;
                        width: 1px;                        
                        background-color: #45a528;                    
                        opacity: 0.1;
                    } 
    
                    .box {
                        display: inline-block;                    
                        margin-right: 22px;
                        margin-bottom: 16px;
                        
                        &:nth-child(n + 6) {                        
                            margin-bottom: 0;                                       
                        }
                        &:last-child {                        
                            margin-right: 0;                        
                        }
    
                        .th {
                            font-size: 14px;
                            font-weight: $f_sizeB;
                            letter-spacing: -0.35px;                        
                            color: #222;                        
                        }
                        .sum {
                            padding-left: 2px;                        
                            font-size: 10px;                        
                            letter-spacing: -0.25px;                        
                            color: #656d7e;
                        }
    
                        label {
                            margin-top: 5px;
                            display: inline-block;
                            color: #b1b9cb;
                        }                
                        .input_txt {
                            width: 40px;
                            padding: 3px 5px;
                            font-size: 13px;                    
                            letter-spacing: -0.33px;                    
                            color: #45a528;                        
                            &:focus {
                                border: 1px solid #90c480;                            
                                box-shadow: 0px 0px 1px 2px #DCEDD6;
                            }
                        }                
                    }                
                }   
                .btm {                                
                    text-align: right;
                    width: 170px;                           
                    position: absolute;
                    right: 0;                
                    bottom: 0;
                    .btn_submit {                    
                        cursor: pointer;
                        border: none;
                        border-radius: 5px;
                        background-color: #3655d6;
                        padding: 7px 25px;
                        color: #fff;            
                        font-size: 13px;
                    }
                    .reset {                                                    
                        vertical-align: bottom;
                        margin-left: 9px;                
                        cursor: pointer;                
                        display: inline-block;
                        font-size: 10px;
                        font-weight: normal;                
                        letter-spacing: -0.5px;                
                        padding-bottom: 1px;
                        color: #656d7e;                
                        border-bottom: 1px solid #656d7e;
                    }
                }
    
                &::after {
                    content: "";
                    display: table;
                    table-layout: fixed;
                    clear: both;
                }
    
            }
        }
    }
    
    .thead2_table {               
        th, td {
            padding: 8.5px 12px;
        }        
        thead {    
            background: #fff url('/img/gray_thline.gif') repeat-x left top;                    
            tr:first-child {
                th, td {
                    background: #fff url('/img/gray_thline.gif') repeat-x left top;        
                    &.fix {
                        height: 60px;
                        &::before {
                            height: 59px;
                        }
                    }
                }                    
            }            

            tr:nth-child(2) {
                th, td {
                    padding: 4px 3px;
                    background: #fff url('/img/gray_tdline.gif') repeat-x left top !important;        
                }                                    
            }         
            
            th {
                &.fix {
                    &::before {
                        display: none;
                    }
                }
            }
        }  
        tbody {
            tr:first-child {
                th, td {
                    background-image: url('/img/gray_thline.gif');
                    background-position: left top;
                    background-repeat: repeat-x;                    
                }                    
            }  
            th, td {                
                background-image: url('/img/gray_tdline.gif');
                background-position: left top;
                background-repeat: repeat-x;                    
                height: 34px;                
                &.fix {
                    &::before {                        
                        min-height: 34px;
                    }
                }
            }   
            td {                
                &:nth-child(2n - 1) {
                    background-color: #f7f9fc;                                
                }
                &:first-child {
                    background-color: #fff;
                }
            }                      
            tr:last-child {
                border-bottom: 1px solid #e7eaf2;
            }
            
        }        
    }
}

// BIC 차트 패턴
#container .M_right .contents .excavation_area.pattern {    
    .tab_content {        

        .BICchart_ptnStyle {                                
            display: inline-block;
            background-color: #f7f7f8;
            width: calc(100% / 2 - 10px);
            margin-bottom: 10px;
            height: 340px;     
            &:nth-child(2n) {
                float: right;
            }

            .highcharts-title {
                font-family: "Spoqa Han Sans Neo";
                font-size: 15px !important;
                font-weight: $f_sizeB;                        
                letter-spacing: -0.85px;
                text-align: center;                        
                color: #222 !important;                                     
                fill: #222 !important;           
                tspan {                        
                    display: block;    
                    font-size: 12px;
                    font-weight: normal;                            
                    letter-spacing: -0.6px;                            
                    fill: #3655d6;
                    color: #3655d6;
                }
            }
        }

        .thead2_table {
            border-top: none;                  
            
            thead {                
                th, td {                    
                    padding:8.5px 3px;                                                                          
                }
                .fix::before {
                    display: none;
                }                                               
                td:nth-child(3) {                    
                    vertical-align: top;
                    strong {
                        
                    }                    
                }
            }
            tbody {
                td {                                    
                    border-right: 1px solid #e7eaf2;                    
                    &:nth-child(2n + 1) {
                        background-color: #f7f9fc;
                    }
                    &:first-child {
                        width: 40px;
                        box-sizing: border-box;
                        padding:8.5px 3px;                                                                          
                    }
                    &:first-child,
                    &:nth-child(2n) {
                        background-color: #fff
                    }
                    &.txt_name {                        
                        position: relative;
                        padding-left: 10px;
                        a {
                            max-width: 180px;                                                        
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            right: -12px;
                            top: 0;
                            bottom: 0;
                            width: 12px;
                            height: 100%;
                            background: url("../img/fix_shadow.svg") repeat-y 0 0;
                        }
                    }                     
                }            
            }
        }
        
    }
    .paginate {
        margin-top: 30px;
    }
    
}
#container .M_right .contents .excavation_area.pattern_gra {    
  .tab_content .thead2_table tbody td.txt_name a {
      max-width: 100px;
  }
}