// 메인
.s_stokes #wrap #container {
    background-color: blanchedalmond;
    
    .main_mid {
        padding: 0 15px;
        & > .title a {
            position: relative;
            display: block;
            font-size: $font20;
            font-weight: $f_sizeB;            
            letter-spacing: -0.5px;            
            color: #222;            
        }
        & > .title a::after {
            content: '';
            display: inline-block;
            width: 8px;
            height: 8px;
            position: absolute;
            top: 10px;            
            left: calc(100% - 15px);            
            right: auto;            
            border-top: 1px solid #898989;
            border-right: 1px solid #898989;            
            transform: rotate(45deg);
        }
        

        &.portfolio {
            .list_area {
                margin-top: 16px;
            }

            .list_area .area {
                width: 215px;
                background: #f5f5f5;            
                box-sizing: border-box;
                padding: 16px 14px;
                border-radius: 16px;
            }

            .list_area .list .title a {            
                box-sizing: border-box;
                display: inline-block;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #333;
                font-size: 1rem;
                line-height: normal;
            }

            .list_area .list .detail {            
                display: flex;
            }

            .list_area .list .detail .num,
            .list_area .list .detail .num b {
                font-weight: bold;
            }

            .list_area .list .num > div {
                margin-top: 10px;
            }

            .list_area .list .num > div:last-child {
                padding-left: 5px;
            }

            .list_area .list .num .th {
                display: block;
                color: #939393;
                font-size: 11px;
                padding-bottom: 2px;
                font-weight: 300;
            }

            .list_area .list .num {            
                display: flex;
                justify-content: space-between;
            }

            .list_area .list .num b {
                font-weight: normal;
            }

            .list_area .list .num .td {
                font-size: 0.94rem;
                color: #333;
                vertical-align: top;
                line-height: normal;
                display: inline-block;
                margin-top: 2px;
            }

            .list_area .list .num .td b {
                color: #333;
            }

            .list_area .list .num .dod {
                display: inline-block;
                background-color: #F2333A;
                text-align: center;
                padding: 2px 5px;
                width: 67px;                
                box-sizing: border-box;
                color: #fff;
                font-size: 0.75rem;
                border-radius: 3px;
            }

            .list_area .list .num .dod b {
                color: #fff;
                font-weight: normal;
            }

            .list_area .list .num .dod.decrease {
                color: #fff;
                background-color: #006BFC;
            }

            .list_area .list .num .dod.decrease b {
                color: #fff;
                font-weight: normal;
            }

            .list_area .list .per {
                padding-left: 8px;
            }

            .list_area .list .per span,
            .list_area .list .per span b {
                font-weight: normal;
            }

            .list_area .list .per span.increase,
            .list_area .list .per span.increase b {
                color: #F2333A;
                font-size: 0.75rem;
                line-height: normal;
            }

            .list_area .list .per span.decrease,
            .list_area .list .per span.decrease b {
                color: #006BFC;
                font-size: 0.75rem;
                line-height: normal;
            }

            .list_area .maingameSwiper {
                padding-right: 15px;
            }

            .list_area .maingameSwiper .swiper-slide {
                display: block;
                width: auto;
            }

        }
    }
}
