/* 급등주 */
.globalStock .main_mid.event_recipe {
    @include pad(0 15px);
    margin-top: 32px;
    box-sizing: border-box;

    .tabsArea {
        .tabs.recipe_tabs {
            position: relative;
            padding: 0;
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            
            li {
                padding-right: 17px;
            }
            li span {
                cursor: pointer;
                font-size: 1.125rem;
                color: $colgray;                
            }
            li.active span {
                font-weight: bold;
                color: $colorg;
                border-bottom: 2px solid $colorg;                
            }            
        }    
        .tab_container {            
            margin: {
                top: 15px;
            }
            .tableth_box {
                background-color: #f6f7fa;                
                border-radius: 16px;
                padding: 16px 15px 0;
                box-sizing: border-box;
            }
            table.tableRanking {
                width: 100%;                
                td {
                    vertical-align: top;
                }
            }
            table.tableRanking .title {
                max-width: 142px;      
                a {                    
                    @include white-space;
                    padding-top: 2px;
                    color: $col333;
                    font-size: $font15;                    
                    font-weight: 400;
                    line-height: normal;
                }
                span {
                    font-size: $font15;                    
                    letter-spacing: -0.75px;                    
                    color: $col333;
                }
            }
            table.tableRanking .num {                
                text-align: right;
                padding-left: 14px;                
                box-sizing: border-box;                
                span {
                    display: inline-block;
                    max-width: 70px;
                    max-width: 100px;
                    font-size: $font15;
                    font-weight: 400;                    
                    b {
                        font-weight: 400;
                    }
                }
            }
            table.tableRanking .num.dod {
                padding-bottom: 15px;
                
                span {
                    text-align: center;
                    display: inline-block;                    
                    width: 61px;
                    line-height: 18px;
                    height: 24px;
                    padding: 3px 1px;
                    box-sizing: border-box;
                    border-radius: 3px;
                    background-color: $colgray;
                    color: #fff;
                    font-size: $font12;                    
                    b {
                        color: #fff;
                    }
                    &.increase {
                        background: $colred;
                    }
                    &.decrease {
                        background: $colblue;
                    }
                }
            }

            table.tableRanking .num.score {
                padding-bottom: 16px;
                span {
                    text-align: center;
                    display: inline-block;                    
                    width: 61px;
                    line-height: 18px;
                    height: 24px;
                    padding: 3px 1px;
                    box-sizing: border-box;                                        
                    b {
                        opacity: 0.75;                        
                    }
                }
            }

            @media (min-width:320px) and (max-width:374px) {
                table.tableRanking .num.score {
                    padding-bottom: 15px;
                }
            }

            .tableth_box .table_btmarea {         
                text-align: center;       
                margin: 0 auto;
                border-top: 1px solid #e0e5f0;    
                a {
                    position: relative;
                    display: block;
                    padding: 7px 0;
                    color: $colgray;
                    font-size: $font12;                                        
                    &::after {
                        content: '';
                        @include pCenter(3px, 3px);
                        left: calc(50% + 22px);
                        right: auto;                
                        display: inline-block;    
                        border-top: 1px solid #85929e;
                        border-right: 1px solid #85929e;
                        transform: rotate(45deg);
                    }
                }
            }            
        }
    }    
}

/* 모닝브리핑, 종목노트 */
.globalStock .main_mid.briefing_note {
	margin-top: 0;
	padding: 0 14px 18px;	    
	height: 70px;
    overflow: hidden;

    .mainbriefingSwiper {
        height: 100px;
    }
    .mainbriefingSwiper ul {
        margin-top: 24px;        
        width: 100%;
    }
    .mainbriefingSwiper .txt {
        @include white-space;
        color: $col333;
        font-size: $font13;
        line-height: normal;            
        font-weight: 400;
        i {
            display: inline-block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            margin-right: 6px;
            background-color: $colorg;
            line-height: 18px;
            vertical-align: middle;
        }
    }
}

/* 종목추천 */
.globalStock .main_mid.game_area {
    padding: 30px 0 32px 15px;	
    background: #f6f7fa;

    > .title {
        color: $col333;
        font-size: $font20;
        display: flex;
        justify-content: flex-start;
        a {
            position: relative;
            display: inline-block;
            width: 100%;

            &::after {                
                @include pCenter(8px, 8px);
                content: '';
                left: calc(100% - 30px);
                right: auto;                
                display: inline-block;    
                border-top: 1px solid #e57828;
                border-right: 1px solid #e57828;
                transform: rotate(45deg);
            }
        }
    }

    .list_area {
        margin-top: 16px;
        
        .area {
            width: 215px;            
            background: #fff;
            box-sizing: border-box;
            padding: 16px 14px;
            border-radius: 16px;            
        }
        .list .title a {
            @include white-space;            
            color: $col333;
            font-size: $font16;
            line-height: normal;                        
        }        
        .list .detail {
            display: flex;            
            .num,
            .num b {
                font-weight: bold;                
            }
        }
        .list .num > div {
            margin-top: 10px;
        }
        .list .num > div:last-child {
            padding-left: 5px;	
        }
        .list .num .th {
            display: block;    
            color: #939393;
            font-size: 11px;	
            padding-bottom: 2px;
            font-weight: 300;
        }
        .list .num {
            display: flex;    
            justify-content: space-between;
            b {
                font-weight: normal;
            }        
        }
        .list .num .td {
            font-size: 0.94rem;
            color: $col333;
            vertical-align: top;
            line-height: normal;
            display: inline-block;
            margin-top: 2px;
            b {                
                color: $col333;	    
            }
        }        
        .list .num .dod {
            display: inline-block;
            background-color: $colred;            
            text-align: center;    
            padding: 2px 5px;
            width: 67px;         
            box-sizing: border-box;   
            color: #fff;
            font-size: $font12;
            border-radius: 3px;            
            b {
                color: #fff;
                font-weight: normal;
            }
        }                
        .list .num .dod.decrease {
            color: #fff;
            background-color: $colblue;
            b {
                color: #fff;
                font-weight: normal;
            }
        }
        .list .per {
            padding-left: 8px;
            span,
            span b {
                font-weight: normal;
            }
        }
        .list .per span.increase,
        .list .per span.increase b {
            color: $colred;            
            font-size: $font12;
            line-height: normal;            
        }
        .list .per span.decrease,
        .list .per span.decrease b {
            color: $colblue;   
            font-size: $font12;         
            line-height: normal;
        }
        .maingameSwiper {
            padding-right: 15px;
            .swiper-slide {
                display: block;
                width: auto;	
            }
        }
    }

    /* 추천포트폴리오 */
    .ptfo_recom {
        display: flex;
        justify-content: space-between;	
        margin-top: 32px;    
        margin-right: 15px;
        padding: 7px 14px;    
        background-color: #eaedf5;
        box-sizing: border-box;
        border-radius: 16px;	
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        
        .ptfo_title {                        
            a {
                position: relative;
                padding-right: 12px;
                color: $colorg;
                font-size: $font14;
                line-height: normal;	            
                &::after {
                    content: '';
                    width: 6px;
                    height: 6px;
                    position: absolute;
                    top: 7px;                    
                    right: 0;                    
                    display: inline-block;
                    border-top: 1px solid #e57828;
                    border-right: 1px solid #e57828;                    
                    transform: rotate(45deg);
                }
            }
            @media (min-width:320px) and (max-width:374px) {
                a::after {                        
                    top: 5px;                    
                }
            }
        }
        
        .more {
            display: inline-block;
            padding: 0;
            line-height: 22px;
            vertical-align: middle;	
            span {
                background: none;	
                color: $col333;
                font-size: $font12;
                font-weight: bold;
                line-height: 22px;
                vertical-align: middle;
                padding: 0;
                padding-right: 7px;	
            }        
        }
        dl.revenue dt {	
            display: inline-block;
            font-size: $font12;
            color: $colgray;
            line-height: 22px;	
            vertical-align: middle;
        }
        dl.revenue dd.increase {
            display: inline-block;
            background: $colred;		
            border-radius: 3px;
            text-align: center;
            padding: 0 5px;
            margin-left: 3px;
            width: 67px;
            box-sizing: border-box;
            color: #fff;
            font-size: $font12;
            line-height: 22px;
            b {	
                color: #fff;
                font-size: $font12;   
                padding-left: 1px;
            }
        }
    }
    .ptfo_datatable {
        position: relative;
        margin-right: 15px;
        padding: 11px 0 12px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        background-color: #fff;
        display: flex;
        box-sizing: border-box;

        &::before {
            content:"";
            position:absolute;
            right:50%;
            top:11px;
            display:inline-block;
            width:1px;
            height:43px;
            background: #dfe5f1;
        }
    }    
    .ptfo_datatable ul {
        flex: 1;
        padding: 0 15px;
    }
    .ptfo_datatable ul li.name a {
        @include white-space;
        color: $col333;
        font-size: $font14;
        line-height: normal;
        max-width: 142px;	        
    }    
    .ptfo_datatable ul li.num span.yield {
        font-size: $font12;
        line-height: normal;	
        color: $colgray;  
    }
    .ptfo_datatable ul li.num span.pp,
    .ptfo_datatable ul li.num span.pp b {
        font-size: $font12;	
        font-weight: bold;			
    }
    .ptfo_datatable ul li.num span.pp.increase,
    .ptfo_datatable ul li.num span.pp.increase b {
        color: $colred;
    }
    .ptfo_datatable ul li.num span.pp.decrease,
    .ptfo_datatable ul li.num span.pp.decrease b {
        color: $colblue;
    }    
}

/* 승부주 */
.globalStock .main_mid.game_scr {
    padding: 30px 0 0 15px;	   

    > .title {
        color: $col333;
        font-size: $font20;
        display: flex;
        justify-content: flex-start;
        a {
            position: relative;
            display: inline-block;
            width: 100%;

            &::after {
                content: '';
                @include pCenter(8px, 8px);
                left: calc(100% - 30px);
                right: auto;                
                display: inline-block;    
                border-top: 1px solid #e57828;
                border-right: 1px solid #e57828;
                transform: rotate(45deg);                
            }

            span.remark {
                color: $colgray;
                font-size: $font12;
                font-weight: normal;
                padding-left: 3px;
            }
        }
    }

    .list_area {
        margin-top: 16px;
        
        .area {
            width: 215px;            
            background: #f6f7fa;
            box-sizing: border-box;
            padding: 16px 14px;
            border-radius: 16px;            
        }
        .list .title a {
            @include white-space;            
            color: $col333;
            font-size: $font16;
            line-height: normal;                        
        }        
        .list .detail {
            display: flex;            
            .num,
            .num b {
                font-weight: bold;                
            }
        }        
        .list .num > div:last-child {
            padding-left: 5px;	
        }
        .list .num .th {
            display: block;    
            color: #939393;
            font-size: 11px;	
            padding-bottom: 2px;
            font-weight: 300;
        }
        .list .num {
            display: flex;    
            justify-content: space-between;
            b {
                font-weight: normal;
            }        
        }
        .list .num .td {
            font-size: 0.94rem;
            color: $col333;
            vertical-align: top;
            line-height: normal;
            display: inline-block;
            margin-top: 2px;
            b {                
                color: $col333;	    
            }
        }        
        .list .num .dod {
            display: inline-block;
            background-color: $colred;            
            text-align: center;    
            padding: 2px 5px;
            width: 67px;            
            box-sizing: border-box;
            color: #fff;
            font-size: $font12;
            border-radius: 3px;            
            b {
                color: #fff;
                font-weight: normal;
            }
        }                
        .list .num .dod.decrease {
            color: #fff;
            background-color: $colblue;
            b {
                color: #fff;
                font-weight: normal;
            }
        }
        .list .per {
            padding-left: 8px;
            span,
            span b {
                font-weight: normal;
            }
        }
        .list .per span.increase,
        .list .per span.increase b {
            color: $colred;            
            font-size: $font12;
            line-height: normal;            
        }
        .list .per span.decrease,
        .list .per span.decrease b {
            color: $colblue;   
            font-size: $font12;         
            line-height: normal;
        }
        .maingameSwiper {
            padding-right: 15px;
            .swiper-slide {
                display: block;
                width: auto;	
            }
        }
    }    
}

/* 종목노트 */
.globalStock .main_mid.note_area {
    padding: 50px 15px 0;	   

    > .title {
        color: $col333;
        font-size: $font20;
        display: flex;
        justify-content: flex-start;
        a {
            position: relative;
            display: inline-block;
            width: 100%;

            &::after {
                content: '';
                @include pCenter(8px, 8px);
                left: calc(100% - 15px);
                right: auto;                
                display: inline-block;    
                border-top: 1px solid #e57828;
                border-right: 1px solid #e57828;
                transform: rotate(45deg);                
            }

            span.remark {
                color: $colgray;
                font-size: $font12;
                font-weight: normal;
                padding-left: 3px;
            }
        }
    }

    .banner {
        margin-top: 15px;
    }
    .banner ul {
        display: flex;    
        gap: 15px;
        justify-content: space-between;
        
        li {
            flex: 1;
            position: relative;           
            background-color: #fff5e2;                
            padding: 18px 16px 67px;
            box-sizing: border-box;
            border-radius: 16px;

            &::after {
                @include pCenter(50, 50);
                left: auto;
                top: auto;
                right: 14px;
                bottom: 14px;
                content: '';
                display: inline-block;                
                background: #fff5e2 url('/img/bg_noteicon.svg') no-repeat 0 0;
            }
            &:last-child::after {                
                background: #fff5e2 url('/img/bg_noteicon.svg') no-repeat right 0;
            }
            
            a {
                display: inline-block;
                font-weight: bold;                
                font-size: $font14;               
                width: 100%;                
                display: -webkit-box;
                overflow: hidden;
                max-height: 4.2em;
                line-height: 1.4em;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                text-overflow: ellipsis;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                word-wrap: break-word;
                text-decoration: none;
            }            
        }
    }
}

/* 종목노트 하단레시피 리스트 */
.globalStock .main_mid.recipe_list {
	margin-top: 50px;

    .list_area .mainrecipeSwiper {
        padding: 0 14px;
        box-sizing: border-box;

        .swiper-slide {
            display: block;
            width: auto;	
        }
        .swiper-slide a {
            position: relative;
            display: block;
            text-align: center;		
        }
        .swiper-slide a strong {	
            display: block;
            color: $colsilver;
            font-size: $font12;
            margin-top: 7px;
        }
        .swiper-slide a::before {
            content: "";
            display: block;
            width: 96px;	
            height: 96px;
            background: #ffb37b url('/img/icon_recipe_list.svg') no-repeat 0 12px;
            background-size: auto 70px;
            border-radius: 50%;	
        }  
        .swiper-slide:nth-child(3n - 1) a::before {            
            background-color: #FFDC7E;
        }    
        .swiper-slide:nth-child(3n) a::before {            
            background-color: #CCD1D5;
        }    
        .swiper-slide:nth-child(1) a::before {            
            background-position: 13px 12px;            
        }
        .swiper-slide:nth-child(2) a::before {            
            background-position: -68px 14px;              
            background-size: auto 64px;
        }
        .swiper-slide:nth-child(3) a::before {            
            background-position: -165px 12px;                  
        }
        .swiper-slide:nth-child(4) a::before {            
            background-position: -255px 16px;           
        }
        .swiper-slide:nth-child(5) a::before {            
            background-position: -344px 15px;            
        }
        .swiper-slide:nth-child(6) a::before {            
            background-position: -434px 11px;                 
        }
        .swiper-slide:nth-child(7) a::before {            
            background-position: -475px 17px;              
            background-size: auto 64px;
        }
    }    
}
