/* 로그인 - 회원로그인 */
.s_stokes #wrap #container.sub_login {
    background-color: #fff;
    padding-bottom: 50px;

    .loign {
        padding: 23px 0;
    }

    .loign .login_title {
        color: #333;
        font-weight: bold;
        font-size: 1.9rem;
    }

    .loign .att_service {
        padding: 10px 0;
        text-align: center;
    }

    .loign .att_service .service_title {
        font-size: 24px;
        font-weight: $f_sizeB;
        line-height: 1.5;
        letter-spacing: -0.6px;
        text-align: left;        
        color: #222;
        padding-left: 15px;
    }

    .loign .att_service .service_title strong {
        color: #222;
    }

    .loign .att_service .guide_txt {
        text-align: left;
        margin-top: 0;
        padding-bottom: 25px;
    }

    .loign .att_service .guide_txt li {
        color: #939393;
        font-size: 0.75rem;
        padding-left: 10px;
        line-height: 1.6;
    }

    .loign .att_service .guide_txt li.title {
        font-size: $font13;
        line-height: 1.54;
        letter-spacing: -0.33px;
        text-align: center;
        color: #575757;
    }

    .loign .att_service .guide_txt li.title .go_mam {
        color: #608BFF;
        font-size: 0.82rem;
        padding-left: 0;
        text-decoration: underline;
    }

    .loign .sns {
        // padding: 0 15px;
        margin-top: 15px;
        text-align: center;
    }

    .loign .sns li {
        display: inline-block;
        margin-bottom: 15px;
        width: 100%;
    }

    .loign .sns li a {
        position: relative;
        display: block;
        padding: 19px 20px 19px 22px;
        border-radius: 8px;
        box-sizing: border-box;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.19;
        color: #fff;
    }

    .loign .sns li.sns_n a {
        background-color: #00cf5d;
    }

    .loign .sns li.sns_n a::before,
    .loign .sns li.sns_k a::before {
        content: '';
        display: inline-block;        
        vertical-align: middle;
        padding-right: 10px;
        width: 22px;
        height: 22px;
    }

    .loign .sns li.sns_k a {
        background-color: #FEE501;
        color: #333;
    }

    .loign .sns li.sns_n a::before {
        background: url('/img/icon_sns_n.svg') no-repeat left 1px;
    }

    .loign .sns li.sns_k a::before {
        background: url('/img/icon_sns_k.svg') no-repeat left 2px;
    }

    .loign .sns li a,
    .loign .sns li a img {
        display: inline-block;
        width: 100%;
    }

    .loign .att_service:nth-child(3) {
        padding: 0;
        text-align: left;
        margin-top: 0;
    }

    .loign .att_service:nth-child(3) .service_title {
        font-size: 0.9375rem;
        border-bottom: none;
    }

    .loign .att_service:nth-child(3) .service_title strong {
        color: #404fc3;
    }

    .loign .att_service:nth-child(3) .guide_txt.bg_blue {
        padding: 22px 15px;
        background: #e6e7f4;
        margin-top: 0;
    }

    .loign .att_service:nth-child(3) .guide_txt li.title {
        color: #939393;
    }

    /* 로그인 - 아이디체크 */
    .loign_chk {
		padding: 30px 15px 15px;
		.login_title {
			font-size: 1rem;
			font-weight: bold;		
			line-height: 1.19;		
			color: #333;
		}
		.dup_sns {
			margin-bottom: 16px;
			font-size: 1.25rem;
			font-weight: bold;		
			line-height: 1.25;		
			color: #333;
		}
		.id_chk {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			gap: 0 16px;			
			margin-top: 8px;		
			border-radius: 16px;
			  background-color: #f7f8f9;
			padding: 13px 24px;
			box-sizing: border-box;
			width: 100%;	
			
			.sns_img {
				display: flex;
				align-items: center;
				justify-content: center;			
				margin-top: 4px;
				border-radius: 50%;
				width: 32px;
				height: 32px;
			}	
			.sns_info {
				width: calc(100% - 50px);			
				margin-top: 4px;
			}
			&.sns_n {	
				.sns_img {
					background-color: #00cf5d;					
					img {
						display: block;
						height: 12px;
						width: 32px;
					}					
				} 
			}
			&.sns_k {
				.sns_img {
					background-color: #FEE501;
					img {
						display: block;
						height: 15px;
						width: 32px;
					}
				} 
			}
			.sns_name {
				font-size: 0.8125rem;			
				line-height: 1.15;			
				color: #6a727b;
			}
			.sns_chk {			
				display: inline-block;			
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				margin-top: 3px;			
				font-size: 0.9375rem;
				line-height: 1.33;			
				color: #333;			
			}		
		}
		&.dup {			
			// 중복가입 화면 css			
			.sns_img, .sns_info {
				margin-top: 0;
			}
			.id_chk {
				padding: 24px 24px 25px;
			}
			.sns_name {
				font-size: 0.8125rem;
				line-height: 1.15;				
				color: #6a727b;
			}
			.sns_chk, .sns_phon {
				font-size: 0.9375rem;
				line-height: 1.33;				
				color: #333;
			}			

		}


	}

    .loign {                
        padding: 9px 15px 20px;
    }
    
    .loign .login_title {
        color: #333;
        font-weight: bold;
        font-size: 1.9rem;
    }
    
    .loign .sns_loign {
        font-size: 0.875rem;
        line-height: 1.43;	
        color: #333;
    }
    
    .loign .att_service {
        padding: 9px 0 0 0;
        text-align: center;
    }
    
    .loign .att_service .service_title {
        font-size: 1.875rem;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.37;
        letter-spacing: -1.5px;
        text-align: left;
        padding-left: 0;
    }
    
    .loign .att_service .service_title strong {
        color: #333;
        font-weight: bold;
    }
    
    .loign .att_service .guide_txt {
        text-align: left;
        margin-top: 10px;
        padding-bottom: 25px;
    }
    
    .loign .att_service .guide_txt li {
        color: #939393;
        font-size: 0.75rem;
        padding-left: 10px;
        line-height: 1.6;
    }
    
    .loign .att_service .guide_txt li.title {
        color: #333;
        font-size: 0.82rem;
        padding-left: 0;
    }
    
    .loign .att_service .guide_txt li.title .go_mam {
        color: #608BFF;
        font-size: 0.82rem;
        padding-left: 0;
        text-decoration: underline;
    }
    
    .loign .sns {
        margin-top: 14px;
        text-align: center;
    }
    
    .loign .sns li {
        display: inline-block;
        margin-bottom: 15px;
        width: 100%;
    }
    
    .loign .sns li a {
        position: relative;
        display: block;
        padding: 17px 20px 17px 20px;
        border-radius: 8px;
        box-sizing: border-box;
        font-size: 1rem;
        font-weight: bold;	
        line-height: 1.19;	
        color: #fff;	
    }
    
    .loign .sns li.sns_n a {
        background-color: #00cf5d;
    }
    
    .loign .sns li.sns_n a i,
    .loign .sns li.sns_k a i {
        content: '';
        position: absolute;	
        left: calc(50% - 67px);
        top: 20px;
        width: 22px;
        height: 22px;
    }
    
    .loign .sns li.sns_k a {	
        background-color: #FEE501;	
        color: #391b1a;
    }
    
    .loign .sns li.sns_n a i {
        background: url('/img/icon_sns_n.svg') no-repeat left top;
    }
    
    .loign .sns li.sns_k a i {
        top: 22px;
        left: calc(50% - 68px);
        background: url('/img/icon_sns_k.svg') no-repeat left top;
    }
    
    .loign .sns li a,
    .loign .sns li a img {
        display: inline-block;
        width: 100%;
    }
    
    .loign .att_service:nth-of-type(2) {
        padding: 0;
        text-align: left;
        margin-top: 0;
    }
    
    .loign .att_service:nth-of-type(2) .service_title {
        font-size: 0.9375rem;
        border-bottom: none;
        padding-bottom: 9px;	
    }
    
    .loign .att_service:nth-of-type(2) .service_title strong {
        color: #404fc3;
    }
    
    .loign .att_service:nth-of-type(2) .guide_txt.bg_blue {
        padding: 22px 15px;
        background: #e6e7f4;
        margin-top: 0;
    }
    
    .loign .att_service:nth-of-type(2) .guide_txt li.title {
        font-size: 0.875rem;
        line-height: 1.43;	
        padding: 2px 0;
        color: #333;
        b {
            color: #333;
        }
    }
    
    .loign .btn_channel {
        display: block;
        font-size: 0.8125rem;
        font-weight: 500;	
        line-height: 1.46;	
        color: #939393;
        text-decoration: underline;
    }

	.agree_area {
		width: calc(100% - 30px);
		margin: 24px auto 0;
	}
	.agree_area .txt {
		font-size: 1rem;
		font-weight: bold;		
		line-height: 1.19;		
		color: #333;
	}
	.agree_area .agree_from {
		margin-top: 16px;		
		.bg_gray {			
			padding: 12px 0;		
			border-radius: 12px;
			background-color: #f7f8f9;
		}
	}
	.agree_area .agree_from .free_sum,
	.agree_area .agree_from .free_sum strong {
		color: #333;
		font-size: 0.9375rem;
		margin: 30px 0 15px;
		line-height: 1.3;
		vertical-align: middle;
	}
	.agree_area .agree_from .free_sum span {
		color: #ff2929;
		font-size: 0.84rem;
		margin-top: 7px;
		text-decoration: underline;
		vertical-align: middle;
	}
	.agree_area .agree_from .label {
		display: flex;		
		align-content: center;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 0 9px;	
		background: #f7f8f9;
		border-radius: 9px;
		padding: 7px 21px 14px 16px;

		.label_chk {
			position: relative;
			cursor: pointer;
			font-size: 0.875rem;
			line-height: 1.14;			
			color: #6a727b;			
			padding-left: 24px;
			@media (min-width:320px) and (max-width: 374px) {
				letter-spacing: -0.03rem;			
			}
		}
		.label_chk i {
			position: absolute;
			left: 0;
			display: inline-block;		
			vertical-align: middle;
			width: 16px;
			height: 16px;
			margin-right: 9px;
			background: url('/img/icon_agreecheck.svg') no-repeat 0 100%;		
			filter: grayscale(100%) opacity(30%);
		}	
		&.active .label_chk i {
			filter: grayscale(0%) opacity(100%);
		}
	}	
	.agree_area .agree_from .label.active .label_chk
	.agree_area .agree_from .label .label_chk.sub_label {
		padding-left: 15px;
		padding-top: 10px;
		opacity: 0.5;
	}
	.agree_area .agree_from .label.active .label_chk.sub_label {
		opacity: 1;
	}
	.agree_area .agree_from .label .terms_btn {
		cursor: pointer;
		font-size: 12px;
		font-weight: 500;		
		line-height: 1.42;		
		color: #939393;		
		text-decoration: underline;
		padding: 2px 2px 2px 10px;
	}
	.agree_area .agree_from .payBtn {
		text-align: center;
		margin-top: 30px;
		padding: 0 15px;
	}
	.agree_area .agree_from .btn {
		font-size: 1rem;
		font-weight: bold;		
		line-height: 1.19;		
		color: #fff;
		color: #404fc3;		
		border-radius: 8px;
		position: relative;
		width: calc(100% / 2 + 60px);
	}
	.agree_area .agree_from .btn_save {
		color: #fff;
		background: #404fc3;
		transition: transform 100ms ease-in-out;
		&:active {
			transform: scale(0.95); /* 버튼을 약간 축소 */
		}
	}
	.agree_area .agree_from .btn_save i {
		position: absolute;
		right: 18px;
		top: 15px;
		display: inline-block;
		width: 5px;
		height: 10px;
		background: url('/img/icon_moreRR.png') no-repeat 0 0;
		background-size: cover;
	}

    /* 회원가입시 휴대폰 번호 수집 */
    .agree_area .new_free2week {
        font-size: $font13;
        line-height: 1.54;
        letter-spacing: -0.33px;
        color: #898989;
        word-break: break-all;
    }

    .agree_area .new_free2week b {
        color: #c22e06;
    }

    .agree_area .agree_from {
        .label.phone_label {            
            display: block;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            padding-bottom: 18px;
        }

        .label.phone_label .label_chk {
            width: 100%;
        }

        .label.phone_label .guide_txt {
            padding-top: 5px;
            padding-left: 24px;
            font-size: 0.75rem;
            letter-spacing: -0.6px;
            text-align: left;
            color: #939393;
            line-height: 1.2;
        }
        .phonePin_form {
            margin-bottom: 15px;
            width: 100%;
            box-sizing: border-box;
        }
        .phonePin_form .box {
            padding: 0 20px 0 38px;     
            position: relative;
            background-color: #f5f5f5;
        }

        .phonePin_form .box:first-child {
            margin-top: 0;
        }

        .phonePin_form .box:last-child {
            display: none;
        }

        .phonePin_form .pinInput,
        .phonePin_form .pinInput_out {
            color: #333;
            font-size: 0.875rem;
            letter-spacing: -0.8px;
            padding: 11px 13px;
            width: 100%;
            box-sizing: border-box;
            border-radius: 5px;
            background-color: #fff;
            border: solid 1px #e0e4e9;
        }

        .phonePin_form .pinInput {
            color: #333;
        }

        .phonePin_form .pinInput:focus {
            // border: none;
            outline: none;
        }

        .phonePin_form .pinInput:focus::-webkit-input-placeholder {
            color: transparent;
        }

        .phonePin_form .dsc_error {
            text-align: center;
            margin-top: 6px;
            font-size: 0.75rem;
            line-height: 1.3;
            color: #f2333a;
        }

        .phonePin_form .pinBtn {
            cursor: pointer;
            position: absolute;
            right: 20px;
            top: 10px;
            width: 70px;
            height: 25px;
            font-size: 0.75rem;
            font-weight: normal;
            letter-spacing: -0.6px;
            text-align: center;
            color: #C22E06;
            outline: none;
            padding: 4px 8px;
            border-radius: 3px;
            border: solid 1px #C22E06;
            background-color: #fff;
            &.pin_req {
                cursor: pointer;
                position: absolute;
                right: 24px;
                top: 9px;
                outline: none;
                border: none;
                font-size: 0.75rem;
                font-weight: 500;
                line-height: 1.58;
                color: #404fc3;
                text-decoration: underline;
                background-color: transparent;
            }
            &.pin_reqAgain {
                display: none;
                outline: none;
                border: none;
                font-size: 0.75rem;
                font-weight: 500;
                line-height: 1.58;
                color: #404fc3;
                text-decoration: underline;
                background-color: transparent;
            }
        }

        .phonePin_form .pinInput_out {
            margin-top: 8px;
            font-size: 0.875rem;
            letter-spacing: 1.6px;
            color: #333;
        }

        .phonePin_form .pinInput_out:focus {
            // border: none;
            outline: none;
        }

        .phonePin_form .pinInput::placeholder,
        .phonePin_form .pinInput_out::placeholder {
            font-size: 0.875rem;
            font-weight: normal;
            color: #82929f;
            letter-spacing: -0.8px;
        }

        .phonePin_form .pinInput_out:focus::-webkit-input-placeholder {
            color: transparent;
        }

        .phonePin_form .pin_countDown {
            font-size: 0.75rem;
            letter-spacing: -0.8px;
            color: #549ef4;
            text-align: center;
            width: calc(100% - 20px);
            margin-left: 20px;
            margin-top: 6px;
        }

        .phonePin_form .pin_countDown span {
            font-size: 0.75rem;
            letter-spacing: -0.8px;
            color: #549ef4;
        }

        .phonePin_form .pin_completion {
            cursor: pointer;
            position: absolute;
            right: 21px;
            top: 9px;
            height: 40px;
            width: 80px;
            font-size: 0.8125rem;
            font-weight: 500;	
            line-height: 1.46;	
            color: #d3d3d3;
            border: none;
            border-left: 1px solid #e0e4e9;
            outline: none;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            transition: transform 100ms ease-in-out;
            &:active {
                transform: scale(0.95); /* 버튼을 약간 축소 */
            }
        }

        .txt_reject {
            text-align: right;
            color: #898989;
            font-size: 0.75rem;
            line-height: 14px;
            margin-top: 7px;
        }
    }

    // 회원정보 입력폼 통일 (3사 통일)
    .agree_area .agree_from .mapage_form {
        background: #f5f5f5;
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px
    }

    .agree_area .mapage_form {
        .form_table {
            padding-top: 10px;

            tr {
                border-bottom: 1px solid #e5e5e5
            }

            th,
            td {
                padding: 15px 9px;
                text-align: left;
                vertical-align: top;
            }

            th {
                flex: 1;
                font-size: $font13;
                letter-spacing: -0.65px;
                color: #898989;
            }

            td {
                font-size: $font15;
                letter-spacing: -0.75px;
                color: #222;

                .item {
                    display: inline-block;
                }

                .i_dsc,
                .i_guide {
                    position: relative;
                    margin-top: 5px;
                    font-size: 0.75rem;
                    line-height: 1.5;
                    letter-spacing: -0.6px;
                    color: #d36900;
                    text-indent: 16px;
                    word-break: break-all;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 2px;
                        width: 12px;
                        height: 12px;
                        background: url('../img/icon_awesome.svg') no-repeat center center;
                    }
                }

                .txt_info {
                    display: inline-block;
                }

                .mod_btn {
                    cursor: pointer;
                    display: inline-block;
                    margin-left: 3px;
                    border-radius: 3px;
                    border: 1px solid #c22e06;
                    background-color: #fff;
                    padding: 1px 2px;
                    font-size: 10px;
                    color: #c22e06;

                    a {
                        display: inline-block;
                        font-size: 10px;
                        letter-spacing: -0.6px;
                        text-align: center;
                        color: #c22e06;
                    }
                }

                .mod_phone {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 5px;

                    .phone_mod {
                        width: 120px;
                    }
                }

                .certifi_btn {
                    cursor: pointer;
                    display: inline-block;
                    min-width: 80px;
                    height: 28px;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 5px 5px;
                    font-size: $font12;
                    letter-spacing: -0.6px;
                    text-align: center;
                    color: #fff;
                    border-radius: 3px;
                    background-color: #c22e06;
                    border: none;
                    vertical-align: middle;
                }

                .i_guide,
                .i_dsc {
                    width: 100%;
                }

                &.phonePin_form {
                    display: none;
                    background-color: #fff;
                    .box {
                        display: block;                        
                        background: #fff;
                        position: relative;
                    }

                    .box:first-child {
                        margin-top: 0;
                    }

                    .box:last-child {
                        display: none;
                    }

                    .pinInput,
                    .pinInput_out {
                        border: none;
                        color: #333;
                        font-size: 0.875rem;
                        letter-spacing: -0.8px;
                        padding: 9px 13px;
                        width: 100%;
                        box-sizing: border-box;
                        border-radius: 5px;
                        background-color: #f5f5f5;
                    }

                    .pinInput {
                        color: #333;
                    }

                    .pinInput:focus {
                        border: none;
                        outline: none;
                    }

                    .pinInput:focus::-webkit-input-placeholder {
                        color: transparent;
                    }

                    .dsc_error {
                        text-align: right;
                        margin-top: 6px;
                        font-size: 0.75rem;
                        line-height: 1.3;
                        color: #d36900;
                    }

                    .pinBtn {
                        cursor: pointer;
                        position: absolute;
                        right: 9px;
                        top: 6px;
                        width: 70px;
                        height: 25px;
                        font-size: 0.75rem;
                        font-weight: normal;
                        letter-spacing: -0.6px;
                        text-align: center;
                        color: #C22E06;
                        outline: none;
                        padding: 4px 8px;
                        border-radius: 3px;
                        border: solid 1px #C22E06;
                        background-color: #fff;
                        &.pin_req {
                            display: block;	
                            color: #fff;    
                            border: solid 1px #C22E06;
                            background-color: #C22E06;
                        }
                        &.pin_reqAgain {
                            display: none;
                            color: #C22E06;
                            border: solid 1px #C22E06;
                            background-color: #fff;
                        }
                    }

                    .pinInput_out {
                        font-size: 0.875rem;
                        font-weight: bold;
                        letter-spacing: 1.6px;
                        color: #333;
                    }

                    .pinInput_out:focus {
                        border: none;
                        outline: none;
                    }

                    .pinInput::placeholder,
                    .pinInput_out::placeholder {
                        font-size: 0.875rem;
                        font-weight: normal;
                        color: #82929f;
                        letter-spacing: -0.8px;
                    }

                    .pinInput_out:focus::-webkit-input-placeholder {
                        color: transparent;
                    }

                    .pin_countDown {
                        font-size: 0.75rem;
                        letter-spacing: -0.8px;
                        color: #549ef4;
                        text-align: center;
                        width: calc(100% - 20px);
                        margin-left: 20px;
                        margin-top: 6px;
                    }

                    .pin_countDown span {
                        font-size: 0.75rem;
                        letter-spacing: -0.8px;
                        color: #549ef4;
                    }

                    .pin_completion {
                        cursor: pointer;
                        position: absolute;
                        right: 9px;
                        top: 6px;
                        width: 70px;
                        height: 25px;
                        box-sizing: border-box;
                        font-size: 0.75rem;
                        font-weight: normal;
                        letter-spacing: -0.6px;
                        text-align: center;
                        color: #fff;
                        outline: none;
                        padding: 4px 8px;
                        border-radius: 3px;
                        border: solid 1px #C22E06;
                        background-color: #C22E06;
                    }

                }

                .txt_reject {
                    text-align: right;
                    color: #898989;
                    font-size: 0.75rem;
                    line-height: 14px;
                    margin-top: 7px;
                }
            }
        }
    }

    /* 로그인 - 가입완료 */
    .loign_com {
        padding: 34px 15px 20px;

        .login_title {
            color: #333;
            font-weight: $f_sizeB;
            font-size: $font20;
            padding-bottom: 8px;
            border-bottom: 1px solid #e6e6e6;
        }

        .sum_box {
            padding: 90px 5px 0;
            background: url('/img/bg_loign_com.svg') no-repeat 98% -8px;
            background-size: auto 100px;

            .login_sum {
                color: #333;
                font-size: 1.5rem;
                font-weight: bold;
                line-height: 2rem;

                strong {
                    line-height: 1.2;
                    display: inline-block;
                    color: #404fc3;
                }
            }
        }

        .txt {
            margin-top: 13px;
            font-size: $font15;
            letter-spacing: -0.38px;
            text-align: left;
            color: #898989;

            strong {
                color: #c22e06;
            }
        }

        .txt_sum {
            color: #333;
            font-size: 0.9rem;
            opacity: 0.7;
            margin-top: 7px;
            line-height: 1.43;
        }

        .phone_regbox {
            background: #f5f5f5;
            padding: 25px 20px 21px;
            margin: 30px -15px 20px;

            .title {
                font-size: $font18;
                font-weight: $f_sizeB;
                line-height: 1.11;
                letter-spacing: -0.45px;
                color: #222;

                +.txt {
                    padding: 0;
                    padding-bottom: 10px;
                    margin-top: 5px;
                    font-size: $font13;
                    font-weight: normal;
                    letter-spacing: -0.33px;
                    color: #575757;
                }
            }

            ul {
                border-top: 1px solid #e6e6e6;
                padding-top: 10px;

                .txt {
                    position: relative;
                    margin-top: 0;
                    padding-left: 10px;
                    font-size: $font15;
                    line-height: 2;
                    letter-spacing: -0.75px;
                    color: #575757;

                    strong {
                        font-weight: $f_sizeB;
                        color: #575757;
                    }

                    &::before {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        top: 13px;
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        background-color: #898989;
                    }

                }
            }
        }

        .link_home {            
            a {
                display: block;
                width: 100%;
                padding: 13px 5px;
                box-sizing: border-box;
                background-color: #404fc3;
                text-align: center;
                color: #fff;
                font-size: 1rem;
                font-weight: bold;
                line-height: 1.19;
                border-radius: 5px;
                position: relative;
            }
        }

        // 기존회원 슈퍼스톡스 프리미엄 2주 무료체험 시작
        &.existing {
            .sum_box .login_sum strong {
                display: block;
                color: #fa8700;
            }

            .link_home {
                background-color: #fa8700;
            }
        }

    }


    // 220311
    .family_site {
        background-color: #f5f5f5;
        padding: 30px 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px 0;

        .title {
            width: 100%;
            font-size: $font16;
            font-weight: $f_sizeB;
            letter-spacing: -0.8px;
            text-align: center;
            color: #222;
            margin-bottom: 15px;
        }

        .box {
            border-radius: 5px;
            background-color: #fff;
            padding: 13px 12px 15px;
            width: 100%;
            box-sizing: border-box;
        }

        .sumTitle {
            font-size: $font15;
            font-weight: $f_sizeB;
            letter-spacing: -0.38px;
            text-align: left;
            color: #575757;
        }

        .txt {
            margin-top: 5px;
            font-size: $font13;
            letter-spacing: -0.33px;
            color: #898989;
        }
    }
}

// 내정보 회원정보, 서비스/결제내역
.s_stokes #wrap #container.sub_login {
    .mapage_area {
        padding: 30px 0 20px;

        .title {
            padding-left: 15px;
        }

        .tabsWrap {
            margin-top: 19px;
            background-color: blanchedalmond;

            .page_nav {
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 0 15px;
                box-sizing: border-box;
                border-bottom: 1px solid #d0d0d0;
                background-color: #fff;

                li {
                    flex: 1;
                    padding: 5px 0;
                    box-sizing: border-box;
                    text-align: center;
                    position: relative;
                    top: 1px;

                    a {
                        font-size: $font16;
                        line-height: 1.5;
                        letter-spacing: -0.4px;
                        color: #222;
                    }

                    &.active {
                        border-bottom: 3px solid #c22e06;

                        a {
                            font-weight: $f_sizeB;
                            color: #c22e06;
                        }
                    }

                    .updata {
                        position: absolute;
                        top: 13px;
                        right: -110px;
                        width: 110px;
                        font-size: 10px;
                        letter-spacing: -0.25px;
                        color: #898989;
                    }
                }
            }
        }

        .agree_area .myInfo {
            padding-top: 10px;

            .line {
                ul {
                    display: flex;
                    justify-content: flex-start;
                    align-content: flex-start;

                    li {
                        border-bottom: 1px solid #e5e5e5;

                        .pinBtn {
                            font-size: 10px;
                        }
                    }
                }

                .th,
                .td {
                    padding: 15px 9px;
                    box-sizing: border-box;
                }

                .th {
                    flex: 1;
                    font-size: $font13;
                    letter-spacing: -0.65px;
                    color: #898989;
                }

                .td {
                    flex: 3;
                    font-size: $font15;
                    letter-spacing: -0.75px;
                    color: #222;
                }

                .pinBtn {
                    cursor: pointer;
                    margin-left: 3px;
                    border-radius: 3px;
                    border: 1px solid #c22e06;
                    background-color: #fff;
                    padding: 1px 2px;
                    font-size: $font12;
                    letter-spacing: -0.6px;
                    text-align: center;
                    color: #c22e06;
                }

                .pin_countDown {
                    position: relative;
                    margin-top: 5px;
                    font-size: $font12;
                    line-height: 1.5;
                    letter-spacing: -0.6px;
                    color: #d36900;
                    text-indent: 16px;
                    word-break: break-all;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 2px;
                        width: 12px;
                        height: 12px;
                        background: url('/img/icon_awesome.svg') no-repeat center center;
                    }
                }
            }
        }

        .agree_area .agree_from {
            margin-top: 10px;
        }

        .agree_area .agree_from .phonePin_form {
            background-color: #f5f5f5;
            padding-top: 10px;
            border-radius: 5px;
            overflow: hidden;
        }

        .agree_area .agree_from .phonePin_form .box {
            padding: 0 15px 15px;
        }

        .agree_area .agree_from .phonePin_form .pin_completion,
        .agree_area .myInfo .line .pinBtn {
            right: 25px;
        }

        .inUse_box {
            margin-top: 15px;
            padding: 0 15px;

            .title {
                padding-left: 0;
                font-size: $font13;
                letter-spacing: -0.65px;
                color: #575757;
            }

            .use_service {
                margin-top: 15px;

                ul {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }

                li {
                    padding: 8px 5px;
                    border-top: 1px solid #e5e5e5;
                    box-sizing: border-box;
                    flex: 1;
                    font-size: $font13;
                    letter-spacing: -0.5px;
                    color: #222;

                    @media (min-width: 320px) and (max-width: 400px) {
                        letter-spacing: -1px;
                    }

                    &.th {
                        position: relative;
                        background-color: #faf6f2;
                        padding-left: 15px;

                        &::before {
                            content: '';
                            position: absolute;
                            left: 7px;
                            top: 15px;
                            display: inline-block;
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            background-color: #c22e06;
                        }
                    }

                    &.td {
                        color: #575757;
                        padding-left: 10px;

                        .method {
                            display: inline-block;
                            width: 45px;
                            text-align: center;
                            color: #575757;
                        }

                    }

                }

                &:last-child {
                    flex: 1;
                    border-bottom: 1px solid #e5e5e5;
                }
            }
        }
    }

    .btnArea.modBtn {
        @include two_btn;
        padding: 0 15px;
    }

    .withdrawal {
        margin-top: 15px;
        padding: 0 15px;

        a {
            position: relative;
            font-size: $font12;
            letter-spacing: -0.5px;
            text-align: left;
            color: #575757;
            padding-right: 12px;

            &::after {
                content: '';
                display: inline-block;
                width: 4px;
                height: 4px;
                position: absolute;
                top: 6px;
                right: 0;
                border-top: 1px solid #575757;
                border-right: 1px solid #575757;
                transform: rotate(45deg);
            }
        }
    }

    // 서비스/결제내역
    .mapage_service {
        background: #faf6f2;
        margin: 0 15px;
        padding: 20px 0;
        box-sizing: border-box;
    }

    .mapage_service .service_table {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .box {
            flex: 1;
            padding: 0 8px 0 12px;

            &:last-child {
                border-left: 1px solid #e5e5e5;
            }
        }

        .service {
            font-size: $font15;
            font-weight: $f_sizeB;
            line-height: 1.47;
            letter-spacing: -0.75px;
            color: #c22e06;
            width: 120px;
            padding-bottom: 10px;
        }

        .day {
            margin-top: 5px;
            font-size: $font12;
            color: #575757;
            padding-left: 5px;
        }

        .system {
            font-size: $font12;
            ;
            font-weight: $f_sizeB;
            line-height: 1.5;
            color: #222;
            margin-right: 3px;
        }

        .num {
            margin-top: 5px;
            font-size: $font12;
            color: #575757;

            span {
                display: inline-block;
                padding: 3px 0 2px;
            }
        }

        .btn_payCan,
        .btn_payRefund {
            cursor: pointer;
            border-radius: 3px;
            border: 1px solid #c22e06;
            background-color: transparent;
            padding: 1px 5px;
            font-size: 10px;
            letter-spacing: -0.6px;
            text-align: center;
            color: #c22e06;
        }

        .card_ch {
            cursor: pointer;
            border-radius: 3px;
            padding: 2px 5px;
            margin-left: 5px;
            font-size: 10px;
            letter-spacing: -0.6px;
            text-align: center;
            color: #fff;
            background-color: #c22e06;
        }

        .card_num {
            display: flex;
            flex-wrap: wrap;
            gap: 1px 10px;
            padding-top: 6px;

            p {
                font-size: $font12;
                line-height: 1.5;
                letter-spacing: -0.6px;
                color: #222;

                span {
                    display: inline-block;
                    color: #575757;
                    padding-right: 3px;
                    width: 46px;
                }
            }
        }
    }

    .mapage_service_free {
        background: #fff;
        border-radius: 9px;
        margin: 26px auto 0;
        width: calc(100% - 30px);
        padding: 17px 0;
        box-sizing: border-box;
    }

    .mapage_service_free .top {
        position: relative;
        padding: 0 10px 17px 10px;
    }

    .mapage_service_free .top .h2_freetitle {
        color: #333;
        font-size: 0.9375rem;
    }

    .mapage_service_free .top .h2_freetitle span {
        color: #939393;
        font-size: 0.75rem;
        font-weight: normal;
    }

    .mapage_service_free .top .day {
        color: #00aece;
        font-size: 0.75rem;
        margin-top: 5px;
    }

    .mapage_service_free .top .auto_cncl {
        font-size: 0.75rem;
        position: absolute;
        right: 10px;
        bottom: 17px;
        cursor: pointer;
        display: inline-block;
        color: #00aece;
        border: 1px solid #00aece;
        border-radius: 3px;
        padding: 5px 10px;
    }

    .mapage_service_free .mid {
        background: #eaf5f7;
        padding: 17px 10px;
    }

    .mapage_service_free .mid li {
        color: #939393;
        font-size: 0.75rem;
        line-height: 1.3;
        margin-bottom: 6px;
    }

    .mapage_service_free .mid ul:last-child {
        margin-top: 13px;
    }

    .mapage_service_free .mid ul:last-child li {
        background: url('/img/dot_line.png') no-repeat 0 8px;
        padding-left: 8px;
        color: #333;
    }

    .mapage_service_free .btm {
        padding: 17px 10px 0;
        position: relative;
    }

    .mapage_service_free .btm .h3_freetitle {
        color: #333;
        font-size: 0.82rem;
    }

    .mapage_service_free .btm ul {
        margin-top: 10px;
    }

    .mapage_service_free .btm li {
        color: #939393;
        font-size: 0.82rem;
        line-height: 1.43;
    }

    .mapage_service_free .btm li span {
        color: #939393;
        width: 62px;
        display: inline-block;
    }

    .mapage_service_free .btm li strong {
        color: #333;
        padding-left: 10px;
        display: inline-block;
    }

    .mapage_service_free .btm .card_ch {
        font-size: 0.75rem;
        position: absolute;
        right: 10px;
        bottom: 0;
        cursor: pointer;
        display: inline-block;
        color: #404fc3;
        border: 1px solid #404fc3;
        border-radius: 3px;
        padding: 5px 10px;
    }

    .history_table {
        border-top: 1px solid #757a83;
        margin: 0 15px;
        width: calc(100% - 30px);

        th,
        td {
            padding: 9px 2px;
            text-align: center;
            vertical-align: middle;
        }

        tr {
            border-bottom: 1px solid #e5e5e5;
        }

        thead {
            th {
                font-size: $font13;
                font-weight: $f_sizeB;
                letter-spacing: -0.65px;
                color: #898989;
            }
        }

        tbody {
            td {
                .in {
                    display: block;
                    font-size: $font12;
                    letter-spacing: -0.6px;
                    color: #d36900;
                }

                &:nth-child(1) {
                    font-size: $font13;
                    letter-spacing: normal;
                    color: #898989;
                }

                &:nth-child(2) {}

                &:last-child {
                    font-size: $font13;
                    letter-spacing: -0.65px;
                    color: #222;
                }


            }
        }

    }

    .btnArea.payBtn {
        display: block;
        width: 100%;        
        margin: 13px 0 0 0 !important;
        padding: 0 !important;

        // width: calc(100% - 30px);
        a {
            display: block;
            width: 100% !important;
            padding: 13px 5px;
            box-sizing: border-box;
            background-color: #404fc3;
            color: #fff;
            text-align: center;
            font-size: 1rem;
            font-weight: bold;
            line-height: 1.19;
            border-radius: 5px;
            position: relative;
            transition: transform 100ms ease-in-out;
            &:active {
                transform: scale(0.99); /* 버튼을 약간 축소 */
            }
        }
    }

    .history_area+.btnArea.payBtn {
        width: calc(100% - 30px);
    }

    // 회원탈퇴
    .withdrawal_com {
        padding: 30px 15px 20px;

        .txt {
            padding-right: 20%;
            font-size: 24px;
            font-weight: $f_sizeB;
            letter-spacing: -1.2px;
            color: #222;

            strong {
                color: #ffc05c;
                text-decoration: underline;
            }
        }

        .inUse_box {
            margin-top: 35px;

            .title {
                font-size: $font13;
                font-weight: $f_sizeB;
                color: #c22e06;
            }

            .use_service {
                margin-top: 15px;

                ul {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }

                li {
                    padding: 8px 5px;
                    border-top: 1px solid #e5e5e5;
                    box-sizing: border-box;
                    flex: 1;
                    font-size: $font13;
                    letter-spacing: -0.5px;
                    color: #222;

                    @media (min-width: 320px) and (max-width: 400px) {
                        letter-spacing: -1px;
                    }

                    &.th {
                        position: relative;
                        background-color: #faf6f2;
                        padding-left: 15px;

                        &::before {
                            content: '';
                            position: absolute;
                            left: 7px;
                            top: 15px;
                            display: inline-block;
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            background-color: #c22e06;
                        }
                    }

                    &.td {
                        color: #575757;
                        padding-left: 10px;

                        .method {
                            display: inline-block;
                            width: 45px;
                            text-align: center;
                            color: #575757;
                        }

                    }

                }

                &:last-child {
                    flex: 1;
                    border-bottom: 1px solid #e5e5e5;
                }
            }
        }

        .withdrawal_freetxt {
            margin-top: 30px;

            .service_title {
                font-size: $font14;
                font-weight: $f_sizeB;
                letter-spacing: -0.35px;
                color: #575757;
            }

            .title {
                position: relative;
                margin-top: 5px;
                padding-left: 10px;
                font-size: $font12;
                font-weight: normal;
                letter-spacing: normal;
                color: #575757;

                &::after {
                    content: '';
                    display: inline-block;
                    width: 4px;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    top: 7px;
                    background-color: #575757;
                }

                strong {
                    text-decoration: underline;
                    font-weight: $f_sizeB;
                }
            }
        }

        .btnArea.wtwalBtn {
            @include one_btn;
            margin-top: 40px;
            background-color: #222;

            a {
                display: block;
                position: relative;
                font-size: $font18;
                font-weight: $f_sizeB;
                letter-spacing: -0.9px;
                color: #ffc05c;

                &::after {
                    content: '';
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 6px;
                    left: calc(100% - 30px);
                    border-top: 1px solid #ffc05c;
                    border-right: 1px solid #ffc05c;
                    transform: rotate(45deg);
                }
            }
        }
    }
}