/* 로그인 - 회원로그인 */
.s_stokes #wrap #container.sub_login {
    background-color: #fff;
    padding-bottom: 50px;

     .loign {
        padding:23px 0;
    }
     .loign .login_title {
        color:#333;
        font-weight:bold;
        font-size:1.9rem;
    }
     .loign .att_service {
        padding:10px 0;
        text-align:center;
    }
     .loign .att_service .service_title {	
        font-size: 24px;
        font-weight: $f_sizeB;    
        line-height: 1.5;
        letter-spacing: -0.6px;
        text-align: center;
        color: #222;
    }
     .loign .att_service .service_title strong {
        color: #222;
    }
     .loign .att_service .guide_txt {
        text-align:left;
        margin-top: 0;
        padding-bottom:25px;
    }
     .loign .att_service .guide_txt li {
        color:#939393;
        font-size:0.75rem;
        padding-left:10px;
        line-height:1.6;
    }
     .loign .att_service .guide_txt li.title {
        font-size: $font13;    
        line-height: 1.54;
        letter-spacing: -0.33px;
        text-align: center;
        color: #575757;
    }
     .loign .att_service .guide_txt li.title .go_mam {
        color:#608BFF;
        font-size:0.82rem;
        padding-left:0;
        text-decoration:underline;
    }
     .loign .sns {
        padding: 0 15px;
        margin-top:15px;
        text-align:center;
    }
     .loign .sns li {
        display:inline-block;
        margin-bottom:15px;
        width:100%;
    }
     .loign .sns li a {	
        position: relative;
        display: block;
        padding: 21px 0;
        box-sizing: border-box;
        padding-left: calc(50% - 30px);
        border-radius: 5px;
        font-size: $font15;    
        line-height: 1.47;        
        text-align: left;
        color: #fff;
    }
     .loign .sns li:first-child a {
        background-color: #20b703;
    }
     .loign .sns li:first-child a::before,
     .loign .sns li:last-child a::before {
        content: '';	
        position: absolute;
        left: calc(50% - 60px);
        top: 23px;
        width: 22px;
        height: 22px;
    }
     .loign .sns li:last-child a {
        background-color: #f3db09;
        color: #333;
    }
     .loign .sns li:first-child a::before {
        background: url('/img/icon_sns_n.svg') no-repeat left top;
    }
     .loign .sns li:last-child a::before {	
        background: url('/img/icon_sns_k.svg') no-repeat left top;
    }
    
     .loign .sns li a,
     .loign .sns li a img {
        display:inline-block;
        width:100%;
    }
     .loign .att_service:nth-child(3) {
        padding:0;
        text-align:left;
        margin-top:0;
    }
     .loign .att_service:nth-child(3) .service_title {
        font-size:0.9375rem;
        border-bottom:none;
    }
     .loign .att_service:nth-child(3) .service_title strong {
        color:#404fc3;
    }
     .loign .att_service:nth-child(3) .guide_txt.bg_blue {
        padding:22px 15px;
        background:#e6e7f4;
        margin-top:0;
    }
     .loign .att_service:nth-child(3) .guide_txt li.title {
        color: #939393;
    }
    /* 로그인 - 아이디체크 */
     .loign_chk {
        padding:34px 15px 20px;
    }
     .loign_chk .login_title {
        color:#333;
        font-weight:$f_sizeB;
        font-size:$font20;
        padding-bottom: 8px;
        border-bottom: 1px solid #e6e6e6;
    }
     .loign_chk .id_chk {
        border-radius: 5px;
        border: solid 1px #e5e5e5;
        padding:40px 15px;
        text-align:center;
        margin-top:16px;
    }
     .loign_chk .id_chk .sns_name {
        font-size: $font12;    
        letter-spacing: -0.6px;
        text-align: center;
        color: #939393;
        margin-bottom:8px;
    }
     .loign_chk .id_chk .sns_chk {
        font-size: $font18;
        font-weight: $f_sizeB;
        letter-spacing: -0.9px;    
        color: #222;
    }
    .loign_chk .id_chk .existing {
        .useWelcome {
            display: inline-block;
            min-width: 80%;
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px solid #e6e6e6;
            font-size: $font13;
            letter-spacing: -0.33px;
            text-align: center;
            color: #c22e06;
            span {
                display: block;
                padding-top: 3px;
                color: #222;
            }
        }        
    }
     .agree_area {
        width:calc(100% - 30px);
        margin:0 auto;
    }
     .agree_area .txt {
        font-size: $font13;
        letter-spacing: -0.33px;    
        color: #898989;
    }
     .agree_area .agree_from {
        margin-top:30px;
    }
     .agree_area .agree_from .free_sum,
     .agree_area .agree_from .free_sum strong {
        color:#333;
        font-size:0.9375rem;
        margin:30px 0 15px;
        line-height:1.3;
        vertical-align:middle;
    }
     .agree_area .agree_from .free_sum span {
        color:#ff2929;
        font-size:0.84rem;
        margin-top:7px;
        text-decoration:underline;
        vertical-align:middle;
    }
     .agree_area .agree_from .label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        margin-top: 9px;
        cursor: pointer;
        background:#f5f5f5;
        border-radius:9px;
        padding:14px 20px 14px 12px;
    }
    //  .agree_area .agree_from .label:first-child,
    //  .agree_area .agree_from .label:nth-child(2) {
    //     margin-bottom:9px;        
    // }
     .agree_area .agree_from .label.sub_label .label_chk {
        width:100%;
    }
     .agree_area .agree_from .label .label_chk {
        font-size: $font14;        
        letter-spacing: -0.7px;
        line-height: 1.4;
        text-align: left;
        color: #222;
    }
     .agree_area .agree_from .label .label_chk i {
        display:inline-block;
        vertical-align:top;	
        width:18px;
        height:18px;
        background:url('/img/icon_agreecheck.svg') no-repeat 100% 0;
        margin-right:7px;
    }
    
     .agree_area .agree_from .label.active .label_chk i {
        background-position:0 100%;
    }
     .agree_area .agree_from .label .label_chk.sub_label {
        padding-left:15px;
        padding-top:10px;
        opacity:0.5;
    }
     .agree_area .agree_from .label.active .label_chk.sub_label {
        opacity:1;
    }
     .agree_area .agree_from .label .terms_btn {
        border-radius: 3px;
        border: 1px solid #c22e06;	
        padding: 3px 4px;
        font-size: $font12;    
        letter-spacing: -0.6px;
        text-align: center;    
        color: #c22e06;
    }
     .agree_area .agree_from .payBtn {
        margin-top: 22px;
        a {
            @include one_btn;
            padding: 0;
            font-size: $font18;
            font-weight: $f_sizeB;        
            letter-spacing: -0.9px;
            text-align: center;
            color: #fff;
            background-color: #c22e06;
            border: none;
            &::after {
                content: '';
                display: inline-block;
                width: 10px;
                height: 10px;
                position: absolute;
                top: 8px;            
                left: calc(100% - 30px);            
                right: auto;            
                border-top: 1px solid #fff;
                border-right: 1px solid #fff;            
                transform: rotate(45deg);         
            }
        }        
    }
        
    /* 회원가입시 휴대폰 번호 수집 */
     .agree_area .new_free2week {
        font-size: $font13;
        line-height: 1.54;
        letter-spacing: -0.33px;    
        color: #898989;
        word-break: break-all;
    }
     .agree_area .new_free2week b {		
        color: #c22e06;	
    }
     .agree_area .agree_from .label.phone_label {
        display: block;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding-bottom: 18px;
    }
     .agree_area .agree_from .label.phone_label .label_chk {
        width: 100%;
    }
     .agree_area .agree_from .label.phone_label .guide_txt {
        padding: 5px 0 0 22px;
        font-size: $font12;    
        letter-spacing: -0.6px;    
        color: #898989;
    }
     .agree_area .agree_from .phonePin_form .box {
        padding:0 35px 10px;
        background: #f5f5f5;
        position: relative;
    }
     .agree_area .agree_from .phonePin_form .box:first-child {	
        margin-top: 0;
    }
     .agree_area .agree_from .phonePin_form .pinInput,
     .agree_area .agree_from .phonePin_form .pinInput_out {
        border-radius: 5px;    
        border: none;
        font-size: $font16;
        letter-spacing: -0.8px;
        color: #333;
        background-color: #fff;
        padding: 8px 13px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 5px;
    }
     .agree_area .agree_from .phonePin_form .pinInput {
        color: #333;
    }
     .agree_area .agree_from .phonePin_form .pinInput:focus {
        border: none;
        outline: none;
    }
     .agree_area .agree_from .phonePin_form .pinInput:focus::-webkit-input-placeholder {
        color: transparent;
    }
     .agree_area .agree_from .phonePin_form .dsc_error {
        text-align: right;	
        margin-top: 6px;
        font-size: 0.75rem;
        color: #d36900;    
        // width: calc(100% - 20px);	
        // margin-left: 20px;
    }
     .agree_area .agree_from .phonePin_form .pinBtn {
        cursor: pointer;
        position: absolute;
        right: 42px;
        top: 6px;
        width: 81px;
        height: 25px;	
        border-radius: 3px;
        border: 1px solid #c22e06;
        background-color: #fff;
        padding: 3px 4px;
        font-size: 0.75rem;
        letter-spacing: -0.6px;
        text-align: center;
        color: #c22e06;
    }
     .agree_area .agree_from .phonePin_form .pinInput_out {		
        font-size: 1rem;
        font-weight: bold;	
        letter-spacing: 1.6px;	
        color: #333;	
    }
     .agree_area .agree_from .phonePin_form .pinInput_out:focus {
        border: none;
        outline: none;
    }
     .agree_area .agree_from .phonePin_form .pinInput::placeholder,
     .agree_area .agree_from .phonePin_form .pinInput_out::placeholder {	
        font-size: 16px;
        font-weight: normal;
        color: #82929f;
        letter-spacing: -0.8px;
    }
     .agree_area .agree_from .phonePin_form .pinInput_out:focus::-webkit-input-placeholder {
        color: transparent;
    }
     .agree_area .agree_from .phonePin_form .pin_countDown {	
        font-size: 0.75rem;
        letter-spacing: -0.8px;	
        color: #d36900;
        text-align: right;
        width: calc(100% - 20px);	
        margin-left: 20px;
        margin-top: 6px;
    }
     .agree_area .agree_from .phonePin_form .pin_countDown span {	
        font-size: 0.75rem;
        letter-spacing: -0.8px;	
        color: #d36900;
    }
     .agree_area .agree_from .phonePin_form .pin_completion {
        cursor: pointer;
        position: absolute;
        right: 42px;
        top: 6px;
        width: 81px;
        height: 25px;
        box-sizing: border-box;
        font-size: 12px;    
        letter-spacing: -0.6px;
        text-align: center;
        color: #fff;
        border-radius: 3px;
        background-color: #c22e06;
        border: none;	
    }
    .agree_area .agree_from .txt_reject {
        padding: 10px 0;
        background-color: #f5f5f5;	
        font-size: $font12;    
        letter-spacing: -0.6px;
        text-align: center;
        color: #898989;
    }
    
    /* 로그인 - 가입완료 */
     .loign_com {
        padding: 34px 15px 20px;        

        .login_title {
            color: #333;
            font-weight: $f_sizeB;
            font-size: $font20;
            padding-bottom: 8px;
            border-bottom: 1px solid #e6e6e6;
        }
        .sum_box {
            padding: 55px 0 70px;
            border-bottom: 1px solid #e6e6e6;
            background: url('/img/bg_loign_com.svg') no-repeat right bottom;
            .login_sum {
                font-size: 30px;
                line-height: 1.2;
                letter-spacing: -1.5px;            
                color: #222;                                
                strong {
                    line-height: 1.2;
                    display: inline-block;
                    color:#c22e06;
                }
            }    
        }
            
        .txt {            
            margin-top:13px;
            font-size: $font15;
            letter-spacing: -0.38px;
            text-align: left;
            color: #898989;
            strong {
                color:#c22e06;
            }
        }
         .txt_sum {
            color:#333;
            font-size:0.9rem;
            opacity:0.7;
            margin-top:7px;
            line-height:1.43;
        }
        .phone_regbox {
            background:#f5f5f5;        
            padding:25px 20px 21px;
            margin:30px -15px 20px;
    
            .title {
                font-size: $font18;
                font-weight: $f_sizeB;        
                line-height: 1.11;
                letter-spacing: -0.45px;
                color: #222;
                + .txt {
                    padding: 0;
                    padding-bottom: 10px;
                    margin-top: 5px;
                    font-size: $font13;                        
                    font-weight: normal;
                    letter-spacing: -0.33px;            
                    color: #575757;
                }            
            }    
            ul {
                border-top: 1px solid #e6e6e6;            
                padding-top: 10px;
    
                .txt {                
                    position: relative;    
                    margin-top: 0;
                    padding-left: 10px;
                    font-size: $font15;            
                    line-height: 2;
                    letter-spacing: -0.75px;
                    color: #575757;
                    strong {
                        font-weight: $f_sizeB;            
                        color: #575757;
                    }
                    &::before {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        top: 13px;
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        background-color: #898989;
                    }
                    
                }      
            }
        }
        .link_home {
            @include one_btn;
            border: none;
            background-color: #c22e06;                
            a {                        
                font-size: $font18;
                font-weight: $f_sizeB;
                padding: 0;
                color: #fff;            
            }
        }
        // 기존회원 슈퍼스톡스 프리미엄 2주 무료체험 시작
        &.existing {
            .sum_box .login_sum strong {
                display: block;
                color: #fa8700;
            }
            .link_home {
                background-color: #fa8700;
            }
        }

    }     
    
      
    //  .phone_regbox .payBtn {
    //     margin-top:20px;
    // }
    //  .phone_regbox .payBtn .btn {
    //     width:calc(100% - 40px);
    // }
    //  .link_home {	
    //     text-align:center;
    //     margin:15px auto 0;
    // }
    //  .link_home a {
    //     display: block;
    //     width: 100%;
    //     padding: 11px 5px;
    //     box-sizing: border-box;
    //     background-color: #404fc3;	
    //     color: #fff;	
    //     font-size: 0.9375rem;
    //     border-radius: 5px;
    //     position: relative;
    // }
    //  .link_home i {
    //     display:inline-block;
    //     width:3px;
    //     height:6px;
    //     padding:0 1px;
    //     margin-right:3px;
    //     background:url('/img/more_Black.png') no-repeat 0 0;
    //     background-size:3px 6px;
    //     position:relative;
    //     top:-2px;
    // }
     
    //  .att_service.free_service .service_title {
    //     display:block;
    //     font-weight:bold;
    // }
    //  .att_service.free_service .service_title strong {
    //     display:inline-block;
    //     color:#ff2929;
    //     font-weight:normal;
    //     font-size:0.9rem;
    // }
    //  .att_service.free_service .agree_area {
    //     width:100%;
    // }
    //  .att_service.free_service .agree_area .agree_from {
    //     margin-top:10px;
    // }
    //  .att_service.free_service .agree_area .agree_from .label .label_chk {
    //     width:100%;
    //     line-height:1.4;
    // }
    //  .att_service.free_service .agree_area .agree_from .label .label_chk i {
    //     top:1px;
    // }
    //  .att_service.free_service .mapage_form .form_table tr {
    //     border-bottom:1px solid #E0E4E9;
    // }
    //  .att_service.free_service .mapage_form .form_table tr:last-child {
    //     border-bottom:none;
    // }
    //  .att_service.free_service .mapage_form .form_table th,
    //  .att_service.free_service .mapage_form .form_table td {
    //     text-align:left;
    //     padding:20px 0 14px;
    //     line-height:1.2rem;
    //     font-weight:normal;
    // }
    //  .att_service.free_service .mapage_form .form_table th {
    //     color:#939393;
    //     font-size:0.82rem;
    //     width:90px;
    //     vertical-align:top;
    // }
    //  .att_service.free_service .mapage_form .form_table td {
    //     color:#333;
    //     font-size:0.9375rem;
    // }
    //  .att_service.free_service .mapage_form .form_table td .i_dsc {
    //     clear:both;
    //     float:none;
    //     color:#404fc3;
    //     font-size:0.75rem;
    //     line-height:14px;
    //     margin-top:6px;
    // }
    //  .att_service.free_service .mapage_form .form_table td .i_dsc i {
    //     position:relative;
    //     top:2px;
    //     margin-right:5px;
    //     display:inline-block;
    //     width:14px;
    //     height:14px;
    //     background:url('/img/bg_x.png') no-repeat 0 0;
    // }
    //  .att_service.free_service .mapage_form .form_table td .i_dsc.phone {
    //     color:#ff2929;
    //     margin-top:0;
    //     padding-top:6px;
    // }
    //  .att_service.free_service .mapage_form .form_table td .i_dsc.phone i {
    //     background-position:0 100%;
    // }
    //  .att_service.free_service .mapage_form .form_table td .i_guide {
    //     clear:both;
    //     float:none;
    //     color:#333;
    //     margin-top:0;
    //     padding-top:6px;
    //     font-size:0.75rem;
    //     display:block;
    //     line-height:1.4;
    // }
    //  .att_service.free_service .mapage_form .form_table td .mod_btn {
    //     display:inline-block;
    //     border:1px solid #404fc3;
    //     border-radius:3px;
    //     width:100px;
    //     color:#404fc3;
    //     font-size:0.75rem;
    //     text-align:center;
    //     padding:5px 3px;
    //     box-sizing:border-box;
    // }
    //  .att_service.free_service .mapage_form .form_table td .mod_phone .txt_info {
    //     display:inline-block;
    //     padding-right:5px;
    // }
    //  .att_service.free_service .mapage_form .form_table td .certification_area {
    //     background:#e6e7f4;
    //     min-height:58px;
    //     padding:15px 15px;
    //     padding-left:100px;
    //     margin-left:-100px;
    //     margin-top:15px;
    //     box-sizing:border-box;
    // }
    //  .att_service.free_service .mapage_form .form_table td .certification_area .certifi_btn {
    //     float:left;
    //     vertical-align:top;
    //     background:#404fc3;
    //     color:#fff;
    //     font-size:0.75rem;
    //     padding:0 10px;
    //     box-sizing:border-box;
    //     text-align:center;
    //     line-height:25px;
    //     border-top-right-radius:5px;
    //     border-bottom-right-radius:5px;
    // }
    //  .att_service.free_service .mapage_form .form_table td .certification_area .phone_mod {
    //     float:left;
    //     vertical-align:top;
    //     border:none;
    //     height:23px;
    //     line-height:25px;
    //     width:130px;
    //     padding:0 5px;
    //     box-sizing:border-box;
    //     border-top-left-radius:5px;
    //     border-bottom-left-radius:5px;
    // }
    //  .att_service.free_service .mapage_form .form_table td .certifi_btn {
    //     float:left;
    //     vertical-align:top;
    //     background:#404fc3;
    //     color:#fff;
    //     font-size:0.75rem;
    //     padding:0 10px;
    //     box-sizing:border-box;
    //     text-align:center;
    //     line-height:25px;
    //     border-top-right-radius:5px;
    //     border-bottom-right-radius:5px;
    // }
    //  .att_service.free_service .mapage_form .form_table td .phone_mod {
    //     float:left;
    //     vertical-align:top;
    //     border:none;
    //     height:25px;
    //     line-height:25px;
    //     width:130px;
    //     padding:0 5px;
    //     box-sizing:border-box;
    //     border-top-left-radius:5px;
    //     border-bottom-left-radius:5px;
    // }
    //  .btnArea.freeBtn {
    //     text-align:right;
    //     margin-top:45px;
    //     position:relative;
    // }
    //  .btnArea.freeBtn .btn {
    //     width:60%;
    // }
    //  .go_main {
    //     position:absolute;
    //     left:15px;
    //     top:12px;
    //     color:#404fc3;
    //     font-size:0.9375rem;
    //     text-decoration:underline;
    // }
    //  .go_main i {
    //     display:inline-block;
    //     width:15px;
    //     height:14px;
    //     margin-right:3px;
    //     position:relative;
    //     top:2px;
    //     background:url('/img/icon_home_on.png') no-repeat center center;
    //     background-size: 15px 14px;
    // }
    // 220311
     .family_site {
        background-color: #f5f5f5;
        padding: 30px 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px 0;
    
        .title {
            width: 100%;
            font-size: $font16;
            font-weight: $f_sizeB;                
            letter-spacing: -0.8px;
            text-align: center;
            color: #222;
            margin-bottom: 15px;
        }
        .box {
            border-radius: 5px;
            background-color: #fff;
            padding: 13px 12px 15px;
            width: 100%;
            box-sizing: border-box;
        }
        .sumTitle {
            font-size: $font15;
            font-weight: $f_sizeB;        
            letter-spacing: -0.38px;
            text-align: left;
            color: #575757;
        }
        .txt {
            margin-top: 5px;
            font-size: $font13;
            letter-spacing: -0.33px;        
            color: #898989;
        }
    }
}
// 내정보 회원정보, 서비스/결제내역
.s_stokes #wrap #container.sub_login {
    .mapage_area {
        padding: 30px 0 20px;
        .title {
            padding-left: 15px;
        }
        .tabsWrap {
            margin-top: 19px;
            background-color: blanchedalmond;
            .page_nav {                       
                display: flex;
                justify-content: center;            
                width: 100%;
                padding: 0 15px;
                box-sizing: border-box;
                border-bottom: 1px solid #d0d0d0;                        
                background-color: #fff;                            
                li {                
                    flex: 1;
                    padding: 5px 0;
                    box-sizing: border-box;                    
                    text-align: center;                
                    position: relative;
                    top: 1px;
                    a {
                        font-size: $font16;
                        line-height: 1.5;
                        letter-spacing: -0.4px;                    
                        color: #222;
                    }
                    &.active {
                        border-bottom: 3px solid #c22e06;
                        a {                        
                            font-weight: $f_sizeB;
                            color: #c22e06;                        
                        }                    
                    }
                    .updata {
                        position: absolute;                        
                        top: 13px;
                        right: -110px;                        
                        width: 110px;
                        font-size: 10px;
                        letter-spacing: -0.25px;                        
                        color: #898989;                        
                    }
                }
            }
        }        

        .agree_area .myInfo {
            padding-top: 10px;
            .line {                
                ul {
                    display: flex;
                    justify-content: flex-start;
                    align-content: flex-start;    
                    li {
                        border-bottom: 1px solid #e5e5e5;
                        .pinBtn {                            
                            font-size: 10px;                                                
                        }
                    }                
                }
                .th, .td {
                    padding: 15px 9px;
                    box-sizing: border-box;
                }
                .th {
                    flex: 1;                                   
                    font-size: $font13;                                        
                    letter-spacing: -0.65px;                    
                    color: #898989;
                }
                .td {
                    flex: 3;                    
                    font-size: $font15;                                        
                    letter-spacing: -0.75px;
                    color: #222;
                }
                .pinBtn {
                    cursor: pointer;                    
                    margin-left: 3px;
                    border-radius: 3px;
                    border: 1px solid #c22e06;
                    background-color: #fff;
                    padding: 1px 2px;
                    font-size: $font12;
                    letter-spacing: -0.6px;
                    text-align: center;
                    color: #c22e06; 
                }
                .pin_countDown {
                    position: relative;
                    margin-top: 5px;
                    font-size: $font12;                    
                    line-height: 1.5;
                    letter-spacing: -0.6px;
                    color: #d36900;  
                    text-indent: 16px;                    
                    word-break: break-all;
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 2px;
                        width: 12px;
                        height: 12px;
                        background: url('/img/icon_awesome.svg') no-repeat center center;
                    }                  
                }
            }            
        }

        .agree_area .agree_from {
            margin-top: 10px;
        }
        .agree_area .agree_from .phonePin_form {
            background-color: #f5f5f5;         
            padding-top: 10px;   
            border-radius: 5px;
            overflow: hidden;
        }
        .agree_area .agree_from .phonePin_form .box {
            padding: 0 15px 15px;            
        }
        .agree_area .agree_from .phonePin_form .pin_completion,
        .agree_area .myInfo .line .pinBtn {            
            right: 25px;
        }

        .inUse_box {
            margin-top: 15px;         
            padding: 0 15px;   
            .title {
                padding-left: 0;
                font-size: $font13;                
                letter-spacing: -0.65px;
                color: #575757;                
            }
            .use_service {
                margin-top: 15px;
                ul {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;                    
                }
                li {
                    padding: 8px 5px;                    
                    border-top: 1px solid #e5e5e5;
                    box-sizing: border-box;
                    flex: 1;
                    font-size: $font13;                    
                    letter-spacing: -0.5px;                    
                    color: #222;
                    @media (min-width: 320px) and (max-width: 400px) {
                        letter-spacing: -1px;                    
                    }                    
                    
                    &.th {
                        position: relative;
                        background-color: #faf6f2;                                                
                        padding-left: 15px;
                        &::before {
                            content: '';
                            position: absolute;
                            left: 7px;
                            top: 15px;
                            display: inline-block;
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            background-color: #c22e06;
                        }
                    }
                    &.td {                        
                        color: #575757;                        
                        padding-left: 10px;
                        .method {                            
                            display: inline-block;                            
                            width: 45px;                      
                            text-align: center;
                            color: #575757;
                        }

                    }
                    
                }
                &:last-child {                        
                    flex: 1;
                    border-bottom: 1px solid #e5e5e5;
                }
            }
        }
    }
    .btnArea.modBtn {
        @include two_btn;        
        padding: 0 15px;
    }
    .withdrawal {
        margin-top: 15px;
        padding: 0 15px;
        a {
            position: relative;
            font-size: $font12;
            letter-spacing: -0.5px;
            text-align: left;
            color: #575757; 
            padding-right: 12px;
            &::after {
                content: '';
                display: inline-block;
                width: 4px;
                height: 4px;
                position: absolute;
                top: 6px;                            
                right: 0;                
                border-top: 1px solid #575757;
                border-right: 1px solid #575757;            
                transform: rotate(45deg);         
            }           
        }
    }

    // 서비스/결제내역
    .mapage_service {
        background:#faf6f2;
        margin: 0 15px;                
        padding:20px 0;
        box-sizing:border-box;
    }
    .mapage_service .service_table {
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .box {
            flex: 1;
            padding: 0 8px 0 12px;
            &:last-child {
                border-left: 1px solid #e5e5e5;
            }
        }
        .service {
            font-size: $font15;
            font-weight: $f_sizeB;            
            line-height: 1.47;
            letter-spacing: -0.75px;            
            color: #c22e06;
        }
        .day {
            margin-top: 5px;
            font-size: $font12;                        
            color: #575757;
        }
        .system {
            font-size: $font12;;
            font-weight: $f_sizeB;            
            line-height: 1.5;            
            color: #222;            
            margin-right: 3px;
        }
        .btn_payCan, .btn_payRefund {
            cursor: pointer;            
            border-radius: 3px;
            border: 1px solid #c22e06;
            background-color: transparent;
            padding: 1px 5px;
            font-size: 10px;
            letter-spacing: -0.6px;
            text-align: center;
            color: #c22e06;
        }
        .card_ch {
            cursor: pointer;            
            border-radius: 3px;                        
            padding: 2px 5px;
            font-size: 10px;
            letter-spacing: -0.6px;
            text-align: center;
            color: #fff;
            background-color: #c22e06;
        }
        .card_num {
            display: flex;
            flex-wrap: wrap;
            gap: 1px 10px;
            padding-top: 6px;
            p {
                font-size: $font12;            
                line-height: 1.5;
                letter-spacing: -0.6px;                        
                color: #222;
                span {
                    display: inline-block;
                    color: #575757;
                    padding-right: 3px;
                    width: 46px;
                }
            }    
        }
    }
    
    .mapage_service_free {
        background:#fff;
        border-radius:9px;
        margin:26px auto 0;
        width:calc(100% - 30px);
        padding:17px 0;
        box-sizing:border-box;
    }
    .mapage_service_free .top {
        position:relative;
        padding:0 10px 17px 10px;
    }
    .mapage_service_free .top .h2_freetitle {
        color:#333;
        font-size:0.9375rem;
    }
    .mapage_service_free .top .h2_freetitle span {
        color:#939393;
        font-size:0.75rem;
        font-weight:normal;
    }
    .mapage_service_free .top .day {
        color:#00aece;
        font-size:0.75rem;
        margin-top:5px;
    }
    .mapage_service_free .top .auto_cncl {
        font-size:0.75rem;
        position:absolute;
        right:10px;
        bottom:17px;
        cursor:pointer;
        display:inline-block;
        color:#00aece;
        border:1px solid #00aece;
        border-radius:3px;
        padding:5px 10px;
    }
    .mapage_service_free .mid {
        background:#eaf5f7;
        padding:17px 10px;
    }
    .mapage_service_free .mid li {
        color:#939393;
        font-size:0.75rem;
        line-height:1.3;
        margin-bottom:6px;
    }
    .mapage_service_free .mid ul:last-child {
        margin-top:13px;
    }
    .mapage_service_free .mid ul:last-child li {
        background:url('/img/dot_line.png') no-repeat 0 8px;
        padding-left:8px;
        color:#333;
    }
    .mapage_service_free .btm {
        padding:17px 10px 0;
        position:relative;
    }
    .mapage_service_free .btm .h3_freetitle {
        color:#333;
        font-size:0.82rem;
    }
    .mapage_service_free .btm ul {
        margin-top:10px;
    }
    .mapage_service_free .btm li {
        color:#939393;
        font-size:0.82rem;
        line-height:1.43;
    }
    .mapage_service_free .btm li span {
        color:#939393;
        width:62px;
        display:inline-block;
    }
    .mapage_service_free .btm li strong {
        color:#333;
        padding-left:10px;
        display:inline-block;
    }
    .mapage_service_free .btm .card_ch {
        font-size:0.75rem;
        position:absolute;
        right:10px;
        bottom:0;
        cursor:pointer;
        display:inline-block;
        color:#404fc3;
        border:1px solid #404fc3;
        border-radius:3px;
        padding:5px 10px;
    }    
    .history_table {        
        border-top: 1px solid #757a83;
        margin: 0 15px;
        width: calc(100% - 30px);        
        th, td {
            padding: 9px 2px;
            text-align: center;
            vertical-align: middle;
        }
        tr {
            border-bottom: 1px solid #e5e5e5;
        }
        thead {
            th {
                font-size: $font13;
                font-weight: $f_sizeB;                
                letter-spacing: -0.65px;                
                color: #898989;
            }
        }
        tbody {
            td {
                .in {
                    display: block;
                    font-size: $font12;                    
                    letter-spacing: -0.6px;                    
                    color: #d36900;
                }
                &:nth-child(1) {
                    font-size: $font13;                    
                    letter-spacing: normal;                    
                    color: #898989;                    
                }
                &:nth-child(2) {

                }
                &:last-child {
                    font-size: $font13;                    
                    letter-spacing: -0.65px;
                    color: #222;                    
                }


            }
        }

    }    
    .btnArea.payBtn {
        @include one_btn;
        border: none;
        background-color: #c22e06;        
        margin: 25px auto 0;        
        // width: calc(100% - 30px);
        a {
            position: relative;
            font-size: $font18;            
            color: #fff;
            b {
                font-weight: $f_sizeB;
            }
            &::after {
                content: '';
                display: inline-block;
                width: 12px;
                height: 12px;
                position: absolute;
                top: 8px;            
                left: calc(100% + 10px);            
                right: auto;            
                border-top: 1px solid #fff;
                border-right: 1px solid #fff;            
                transform: rotate(45deg);         
            }
        }
    }
    .history_area + .btnArea.payBtn {
        width: calc(100% - 30px);
    }
    // 회원탈퇴
    .withdrawal_com {        
        padding: 30px 15px 20px;
        .txt {
            padding-right: 20%;
            font-size: 24px;
            font-weight: $f_sizeB;                        
            letter-spacing: -1.2px;            
            color: #222;               
            strong {
                color: #ffc05c;
                text-decoration: underline;
            }  
        }
        .inUse_box {
            margin-top: 35px;                     
            .title {
                font-size: $font13;
                font-weight: $f_sizeB;                                                
                color: #c22e06;
            }
            .use_service {
                margin-top: 15px;
                ul {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;                    
                }
                li {
                    padding: 8px 5px;                    
                    border-top: 1px solid #e5e5e5;
                    box-sizing: border-box;
                    flex: 1;
                    font-size: $font13;                    
                    letter-spacing: -0.5px;                    
                    color: #222;
                    @media (min-width: 320px) and (max-width: 400px) {
                        letter-spacing: -1px;                    
                    }                    
                    
                    &.th {
                        position: relative;
                        background-color: #faf6f2;                                                
                        padding-left: 15px;
                        &::before {
                            content: '';
                            position: absolute;
                            left: 7px;
                            top: 15px;
                            display: inline-block;
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            background-color: #c22e06;
                        }
                    }
                    &.td {                        
                        color: #575757;                        
                        padding-left: 10px;
                        .method {                            
                            display: inline-block;                            
                            width: 45px;                      
                            text-align: center;
                            color: #575757;
                        }

                    }
                    
                }
                &:last-child {                        
                    flex: 1;
                    border-bottom: 1px solid #e5e5e5;
                }
            }
        }

        .withdrawal_freetxt {
            margin-top: 30px;
            .service_title {
                font-size: $font14;
                font-weight: $f_sizeB;                
                letter-spacing: -0.35px;                
                color: #575757;
            }   
            .title {
                position: relative;
                margin-top: 5px;
                padding-left: 10px;
                font-size: $font12;
                font-weight: normal;                
                letter-spacing: normal;                
                color: #575757;                
                &::after {
                    content: '';
                    display: inline-block;
                    width: 4px;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    top: 7px;
                    background-color: #575757;
                }
                strong {
                    text-decoration: underline;
                    font-weight: $f_sizeB;
                }
            }            
        }
        .btnArea.wtwalBtn {            
            @include one_btn;
            margin-top: 40px;
            background-color: #222;
            a {
                display: block;
                position: relative;
                font-size: $font18;
                font-weight: $f_sizeB;                
                letter-spacing: -0.9px;                
                color: #ffc05c;
                &::after {
                    content: '';
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 6px;
                    left: calc(100% - 30px);                    
                    border-top: 1px solid #ffc05c;
                    border-right: 1px solid #ffc05c;                    
                    transform: rotate(45deg);                    
                }
            }            
        }

    }
       
}