/* 결제 */
.s_stokes #container.sub_payment {    
    padding-bottom: 15px;
    /* 서비스 결제 스탭 1 */        
    &.bg_blue,
    .payment_area {
        background-color: #404fc3 !important;
    }    
    .step_top {	
        box-sizing: border-box;	
        padding: 16px 15px;	
        
        .event2024_payment_sub {
            img {
                display: block;
                border-radius: 16px;
                overflow: hidden;
                width: 100%;
            }
        }
    }
    .serviceStep.step01 {
        padding-top: 16px;
    }
    .serviceStep.step01 .page_sumtop {
        background: #3442ab url('/img/page_sumtop_bg.png') no-repeat calc(100% - 22px) center;
        background-size: auto 68px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        width: calc(100% - 30px);
        box-sizing: border-box;
        margin: 0 auto;
        padding: 25px 25px;
    }
    .serviceStep.step01 .page_sumtop .txt {	
        display: inline-block;
        font-size: 0.875rem;	
        line-height: 1.43;	
        color: #e6e7f4;
    }
    .serviceStep .step_wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 12px 0;
        background-color: #fff;	
        width: calc(100% - 30px);
        box-sizing: border-box;
        margin: 0 auto;
        padding: 23px 0 50px;
        margin-bottom: 60px;
    }
    .serviceStep .step_wrap::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -16px;
        height: 16px;
        width: 100%;
        background: url('/img/step_wrap_bg.png') repeat-x center top;
        background-size: auto 8px;
    }
    .serviceStep .step_box {
        display: flex;
        flex-wrap: wrap;	
        justify-content: space-between;
        gap: 4px 8px;
        width: calc(100% - 30px);
        box-sizing: border-box;
        margin: 0 auto;
        border-radius: 9px;
        border: solid 1px #e0e4e9;	
        padding: 24px 20px;
        box-sizing: border-box;
    }
    .serviceStep .step_box.routine_pay {
        border: 1px solid #e9ebf7;
        background-color: #f5f6fc;
    }
    .serviceStep .step_box.period_pay.active {
        border-color: #404fc3;		
    }
    .serviceStep .step_box .title {	
        width: 100%;
        font-size: 0.8125rem;	
        font-weight: 700;	
        font-weight: bold;
        color: #333;
    }
    .serviceStep .step_box .payRight {
        /* width: calc(100% - 120px); */

    }
    .serviceStep .step_box .subscribe {			
        max-width: 160px;		
        position: relative;
        top: -4px;
    }
    .serviceStep .step_box .subscribe span {
        cursor: pointer;
        display: inline-flex;	
        align-items: center;
        justify-content: center;	
        padding: 7px 16px 6px;
        max-width: 60px;	
        box-sizing: border-box;
        border-radius: 100px;
        border: solid 1px #c7cbe9;	
        background-color: #fff;
        font-size: 0.8125rem;	
        text-align: center;
        color: #404fc3;
    }
    .serviceStep .step_box .payRight .pay01 {
        display: inline-block;
        font-size: 0.75rem;	
        font-weight: 500;	
        color: #d3d3d3;	
        text-decoration: line-through;
        padding-left: 1px;
    }
    .serviceStep .step_box .payRight .pay02 {
        display: flex;
        align-items: center;
        gap: 7px;
        margin-top: 1px;
        font-size: 1.25rem;	
        font-weight: bold;	
        letter-spacing: normal;
        color: #404fc3;
    }
    .serviceStep .step_box .payRight .pay02 .pay_sale {
        padding-bottom: 4px;	
    }
    .serviceStep .step_box .payRight .pay02 .pay_sale strong {	
        font-size: 0.75rem;
        font-weight: 400;
        color: #7983d5;	
    }
    .serviceStep .step_box .payRight .pay02 .pay_sale .month_dvsion {	
        background-color: #fff;
        font-size: 0.75rem;
        font-weight: 500;
        color: #7983d5;	
    }
    .serviceStep .pay_guideTxt {
        position: relative;
        width: calc(100% - 30px);
        box-sizing: border-box;
        margin: 0 auto 32px;
        padding-left: 8px;
        font-size: 0.75rem;
        line-height: 1.42;
        font-weight: 400;		
        color: #939393;
    }
    .serviceStep .pay_guideTxt::before {
        content: "*";
        position: absolute;
        left: 0;
        top: 0;
        font-size: 0.75rem;
        font-weight: 500;		
        color: #939393;
    }
    .mapage_form .payment_note .agree_txt {
        display: none;
        font-size: 0.75rem;	
        line-height: 1.42;	
        color: #939393;		
        .refund_terms {
            flex: none;
            font-size: 0.75rem;
            line-height: 1.42;
            color: #404fc3;
            text-decoration: underline;	
        }
    }



    .modal.method .pop_con {
        padding: 0 25px 32px;
    }
    .modal.method .method_cho {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 17px 8px;
    }
    .modal.method .method_cho a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px 0;
        flex: 1 1 40%;
        padding: 32px 15px;
        box-sizing: border-box;
        border-radius: 16px;
        border: solid 1px #f4f4f5;
        background-color: #fff;	
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 1.14;	
        text-align: center;
        color: #333;
    }
    .modal.method .method_cho a:active {
        border: 1px solid #404fc3;	
        color: #404fc3;
        background-color: #fff;	
    }
    .modal.method .method_cho a.method_card::before {
        content: '';	
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url('/img/method_card.svg') no-repeat center center;
    }
    .modal.method .method_cho a.method_card:active:before {	
        background: url('/img/method_card_on.svg') no-repeat center center;
    }
    .modal.method .method_cho a.method_phone::before {
        content: '';	
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url('/img/method_card.svg') no-repeat center center;
    }
    .modal.method .method_cho a.method_phone:active:before {	
        background: url('/img/method_card_on.svg') no-repeat center center;
    }
    .modal.method .method_cho .guide_txt {
        width: 100%;
        font-size: 12px;
        font-weight: 400;	
        color: #939393;
    }
    
    /* 서비스 결제 정기결제 카드 결제 정보 입력 스탭 2 */
    .select_payTop {
        /* margin-top: 16px; */
        padding-top: 16px;
        padding-bottom: 24px;
        background-color: #404fc3;
    }
    .select_payTop .step_box {	
        width: calc(100% - 30px);
        box-sizing: border-box;
        margin: 0 auto;	
        padding: 19px 20px;
        border-radius: 16px;
        border: 1px solid #e9ebf7;
        background-color: #fff;
    }
    .select_payTop .step_box .top {	
        // padding-bottom: 17px;	
    }
    .select_payTop .step_box .title {
        position: relative;
        display: inline-block;
        font-size: 1rem;	
        color: #333;
        font-weight: bold;
    }
    .select_payTop .step_box .title .suggestion {
        position: absolute;
        right: -43px;
        top: -2px;
        display: inline-block;
        padding: 4px 8px;
        border-radius: 100px;
        background-color: #f5f6fc;
        font-size: 11px;
        font-weight: bold;	
        color: #404fc3;
    }
    .select_payTop .step_box .payRight {
        border-top: 1px solid #e0e4e9;
        padding-top: 17px;
        margin-top: 17px;
    }
    
    
    .select_payTop .step_box .payRight .pay01 {
        display: inline-block;
        font-size: 0.75rem;	
        font-weight: 500;	
        color: #d3d3d3;	
        text-decoration: line-through;
    }
    .select_payTop .step_box .payRight .pay02 {
        display: flex;
        align-items: center;
        gap: 7px;
        margin-top: 2px;
        font-size: 24px;	
        font-weight: bold;	
        color: #404fc3;
    }
    .select_payTop .step_box .payRight .pay02 .pay_sale {
        padding-bottom: 4px;	
    }
    .select_payTop .step_box .payRight .pay02 .pay_sale strong {	
        font-size: 0.8175rem;
        font-weight: 400;
        color: #7983d5;	
    }
    .select_payTop .step_box .payRight .pay02 .pay_sale .month_dvsion {	
        background-color: #fff;
        font-size: 0.8175rem;
        font-weight: 500;
        color: #7983d5;	
    }
    .payment_guide {
        padding: 15px 24px 32px;
        box-sizing: border-box;
        background-color: #fff;
    }
    .payment_guide .pay_guideTxt {
        font-size: 0.75rem;
        line-height: 1.72;	
        color: #939393;	
    }
    .payment_guide .pay_guideTxt:last-of-type {
        margin-bottom: 28px;
        padding-bottom: 20px;
        border-bottom: solid 1px #f4f4f5;
    }
    .payment_guide .pay_guideTxt .card_overseas {
        cursor: pointer;
        display: flex;
        gap: 0 9px;
        font-size: 0.75rem;
        line-height: 1.42;		
        color: #404fc3;
        text-decoration: underline;
        img {
            display: inline-block;
            position: relative;
            top: -2px;
        }
    }
    .payment_guide .mapage_form {		
        padding-left: 0;
    }
    .payment_guide .mapage_form .form_title {
        font-size: 1.25rem;
        font-weight: bold;	
        color: #333;	
        margin-bottom: 24px;
    }
    .payment_guide .mapage_form .form_wrap {	
        display: flex;
        flex-direction: column;
        gap: 24px 0;
        // margin-top: 24px;
    }
    .payment_guide .mapage_form .form_wrap .teh_guideTxt {
        margin-top: 9px;
        font-size: 0.75rem;
        line-height: 1.72;	
        color: #939393;
    }
    .payment_guide .mapage_form .subscription-form {
        margin-top: 10px;	
    }
    .payment_guide .mapage_form .card_title {
        display: block;
        padding-bottom: 8px;
        font-size: 0.8125rem;
        font-weight: bold;
        color: #333;
    }
    .payment_guide .mapage_form .selectbox {	
        width: 100%;	
        height: auto;
        background-color: transparent;
        &.card_sect {
            display: none;
            margin-top: 8px;
            &:before {
                top: 17px;
            }
            label {
                top: 0;
            }
        }
    }
    .payment_guide .mapage_form .selectbox:before {
        background: none;
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        position: absolute;
        top: 37px;
        right: 15px;
        border-top: 1px solid #6a727b;
        border-right: 1px solid #6a727b;
        transform: rotate(135deg);
    }
    .payment_guide .mapage_form .selectbox label {
        top: 21px;
        left: 0;	
        width: 100%;
        height: 42px;	
        padding: 12px 16px;	
        box-sizing: border-box;
        border-radius: 8px;
        border: solid 1px #e0e4e9;
        background-color: #fff;	
        font-size: 0.875rem;
        font-weight: bold;
        color: #333;
    }
    .payment_guide .mapage_form .selectbox .t_label {
        font-size: 0.875rem;
        font-weight: normal;
        line-height: 1.14;	
        color: #333;
    }
    .payment_guide .mapage_form .selectbox select {	
        padding: 0 15px;
        height: 42px;
        box-sizing: border-box;
    }
    .payment_guide .mapage_form .selectbox select option {	
        display: block;
        width: 100%;	
        padding: 12px 16px;	
        box-sizing: border-box;
    }
    .payment_guide .mapage_form .check_box {
        /* display: flex; */
        position: relative;
    }
    .payment_guide .mapage_form .check_box input {		
        /* flex-grow: 1; */
    }
    .payment_guide .mapage_form .input_check {	
        position: absolute;
        right: 1px;
        top: 1px;
        cursor: pointer;
        height: 40px;
        box-sizing: border-box;
        padding: 12px 16px;
          background-color: #f7f8f9;
        font-size: 0.875rem;	
        text-align: center;	
        color: #6a727b;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border: none;
    }
    @media (min-width: 320px) and (max-width: 358px) {
        .payment_guide .mapage_form .input_check {
            height: 38px;
        }
    }
    .payment_guide .mapage_form .input_check:focus,
    .payment_guide .mapage_form .input_check:active {	
        font-weight: bold;		
    }
    .payment_guide .mapage_form .couponNumber .check_box {
        display: none;
    }
    .payment_guide .mapage_form .couponNumber .t_label {
        cursor: pointer;
        display: inline-block;
        padding-right: 24px;
        position: relative;
    }
    .payment_guide .mapage_form .couponNumber .t_label::after {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        position: absolute;    
        top: 1px;
        right: 5px;
        border-top: 1px solid #6a727b;
        border-right: 1px solid #6a727b;	
        transform: rotate(135deg);		
    
    
    }
    .payment_guide .mapage_form .couponNumber .t_label.rotated::after {
        transform: rotate(-40deg);    
        top: 4px;
    }
    
    .payment_guide .mapage_form .t_label {
        display: block;
        padding-bottom: 8px;
        font-size: 0.8125rem;
        font-weight: bold;	
        color: #333;
    }
    .mapage_form input:focus {
        outline: none; /* 기본 포커스 아웃라인 제거 */
        border: 1px solid #404fc3 !important; /* 포커스 시 보더 색 변경 */
    }
    .payment_guide .mapage_form input[type=number],
    .payment_guide .mapage_form input[type=text],
    .payment_guide .mapage_form input[type=password] {	 
        width: 100%;
        padding: 12px 16px;	
        box-sizing: border-box;
        border-radius: 8px;
        border: solid 1px #e0e4e9;
        background-color: #fff;	
        font-size: 0.875rem;
        font-weight: bold;
        color: #333;
        outline: none;
        
    }
    .payment_guide .mapage_form input[type=number]::placeholder,
    .payment_guide .mapage_form input[type=text]::placeholder,
    .payment_guide .mapage_form input[type=password]::placeholder {	 	
        color: #d3d3d3;
    }
    .payment_guide .mapage_form .error-message {	
        // display: inline-block;
        display: none;
        margin-top: 10px;
        font-size: 0.75rem;
        line-height: 1.72;
        color: #E1305A;
    }
    .payment_guide .mapage_form .error-message::before {
        content: '';
        vertical-align: middle;
        display: inline-block;
        width: 12px;
        height: 12px;
        background: url('/img/error_msg.svg') no-repeat center center;
        border-radius: 50%;
        margin-right: 4px;
    }
    .payment_guide .mapage_form .security_info {
        display: flex;
        gap: 8px 8px;
    }
    .payment_note {
        display: flex;
        flex-direction: column;
        gap: 18px 10px;	
        padding: 24px 16px;
        border-radius: 12px;
        background-color: #f7f8f9;
    }
    .payment_note .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    .payment_note .top .show {
        cursor: pointer;
        position: relative;
        padding: 12px 12px;
        box-sizing: border-box;
        font-size: 0;
        width: 7px;
        height: 12px;    
    }
    .payment_note .top .show::after {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        position: absolute;
        top: 7px;
        right: 5px;
        border-top: 1px solid #6a727b;
        border-right: 1px solid #6a727b;
    }
    .payment_note .top .show.rotated::after {	
        top: 10px;
        transform: rotate(-40deg);    
    }
    .payment_note .top .show:not(.rotated)::after {	
        transform: rotate(135deg);
    }
    .payment_note .top .agree .txt {
        font-size: 14px;
        font-weight: bold;	
        line-height: 1.43;	
        color: #333;
    }
    .payment_note .agree .txt {
        font-size: 14px;
        color: #6a727b;
    }
    .payment_note .agree_chk {
        // display: flex;
        justify-content: space-between;    
        align-items: center;
        gap: 10px;
        padding-left: 4px;
        box-sizing: border-box;
        display: none;
        &.caution {
            .age_link {
                visibility: hidden;
            }
        }
        .help_nicepay {
            display: block;	
            margin-top: 15px;				
            font-size: 0.8125rem;	
            line-height: 1.54;	
            text-align: left;
            padding-left: 30px;
            color: #6a727b;
        }
        .help_nicepay span {	
            display: inline-block;
            padding-left: 2px;
            text-decoration: underline;
            color: #404fc3;
        }
    }
    .payment_note .age_link {
        cursor: pointer;
        position: relative;
        padding: 12px 20px;
        box-sizing: border-box;
        font-size: 0;
        width: 7px;
        height: 12px;
    }
    .payment_note .age_link::after {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        position: absolute;
        top: 7px;
        right: 5px;
        border-top: 1px solid #aeb4b9;
        border-right: 1px solid #aeb4b9;
        transform: rotate(45deg);
    }
    input.chk_label {
        display: none;
        /*checked된 input 바로 다음의 label:before 에 체크 후 CSS 설정*/
    }
    
    input.chk_label + label {	
        display: flex;
        align-items: center;
        justify-content: flex-start;	
        gap: 0 8px;
        position: relative;	
        cursor: pointer;
    }
    
    input.chk_label + label:before {
        content: "";	
        display: block;	
        width: 24px;	
        height: 24px;
        line-height: 24px;	
        border-radius: 50%;
        background: url('/img/checked.svg') no-repeat center 5px;		
    }
    
    input.chk_label:checked + label:before {
        content: "";	
        border-color: #c4c8cb;	
        background: url('/img/checked_ch.svg') no-repeat center 5px;	
    }
    .payment_note .agree_chk .txt {	
    
    }
    .payment_note .top .s_txt {
        width: calc(100% - 34px);
        font-size: 14px;
        font-weight: bold;	
        color: #333 !important;	
    }
    .payment_note .top input.chk_label + label:before {	
        border: 1px solid #c4c8cb;	
    }
    .payment_note .top input.chk_label:checked + label:before {	
        background-color: #404fc3;
        background-image: url('/img/checked.svg');	
    }
    .payment_note .top input + label:before {	
        background-position: center center;	
    }
    .payment_note .top .s_txt,
    .payment_note .agree_chk .s_txt {
        display: inline-block;	
        line-height: 1.42;
        font-size: 14px;
        color: #6a727b;
        @media (min-width:320px) and (max-width:375px) {
            letter-spacing: -0.05rem;		
        }	
    }
    .payment_note .agree_chk .txt .agree_txt {
        width: 100%;
        display: block;
        padding-left: 30px;
        font-size: 0.75rem;
        line-height: 1.42;
        color: #939393;	
        word-break: normal;
        word-wrap: break-word;
        &.agree_title {
            padding-top: 15px;				
            font-size: 0.8125rem;
            font-weight: bold;
            color: #333;
        }
        &.agree_caution {				
            padding-top: 10px;
            color: #939393;	
            b {
                font-weight: 600;
                color: #939393;	
            }
            .refund_terms {
                cursor: pointer;
                display: inline-block;
                padding-left: 5px;    		
                color: #06c;			
                text-decoration: none;
            }
        }
    }
    .payment_note .agree_caution {		
        strong {
            display: block;
            font-size: 0.8125rem;
            font-weight: bold;
            color: #333;
            padding-bottom: 12px;
        }
        .txt {
            font-size: 0.75rem;
            line-height: 1.42;
            color: #939393;	
            b {
                color: #939393;	
            }
        }
        .refund_terms {
            cursor: pointer;
            display: inline-block;
            padding-left: 5px;    		
            color: #06c;
            font-size: 0.75rem;
            text-decoration: none;
        }
        
    }
    .btnArea.btn_fix {	
        position: sticky;
        bottom: 15px;
        margin: 0 auto;
        max-width: 767px;
        box-sizing: border-box;
        z-index: 85;
    }
    .btnArea.payBtn .btn_save {
        display: block;
        margin: 19px auto 0;
          padding: 19px 0;
        border-radius: 8px;
        background-color: #404fc3;
        font-size: 1rem;
        font-weight: bold;		
        color: #fff;
        text-align: center;
    }
    .modalBox {
    
    }
    .modal.cardBox {
        top: 15%;
    }
    .modal.cardBox .pop_header {
        padding: 20px 15px !important;
        border-bottom: 1px solid rgba(77, 110, 228, 0.1) !important;
    }
    .modal.cardBox .pop_header .pop_title {
        justify-content: flex-start !important;
        font-size: 0.9375rem !important;		
        font-weight: bold;	
        line-height: 1.53;
        letter-spacing: normal;	
        color: #333;
    }
    .modal.cardBox .pop_header .pop_title::before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('/img/txt_guide_blue.svg') no-repeat center center;
    
    }
    .modal.cardBox .pop_con {
        padding-top: 15px !important;	
    }
    .modal.cardBox .pop_con .paypal_title {
        font-size: 14px;	
        line-height: 1.43;		
        color: #404fc3;
        b {
            color: #404fc3;
            font-weight: bold;
        }
    }
    .modal.cardBox .pop_con .paypal_link {
        margin-top: 12px;
        margin-bottom: 12px;
        padding: 14px 16px;
        border-radius: 8px;
        background-color: #f7f8f9;	
        font-size: 13px;	
        line-height: 1.54;	
        color: #6a727b;	
    }
    .modal.cardBox .pop_con .paypal_link a {	
        text-decoration: underline;
        color: #404fc3;	
    }
    .modal.cardBox .pop_con .paypal_txt,
    .modal.cardBox .pop_con .paypal_step li {	
        font-size: 13px;
        font-weight: 400;
        line-height: 1.46;	
        color: #6a727b;	
        a {
            display: inline-block;
            padding-left: 7px;
            text-decoration: underline;
            color: #404fc3;
        }
    }
    .modal.cardBox .pop_con .paypal_txt b,
    .modal.cardBox .pop_con .paypal_step li b {		
        color: #6a727b;		
    }
    .modal.cardBox .pop_con .progress_txt {
        margin-top: 16px;
        font-size: 12px;
        font-weight: 400;	
        line-height: 1.42;	
        color: #939393;	
        b {
            color: #6a727b;	
        }
    }
    .modal.cardBox .pop_con .paypal_step {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 2px 8px;
        padding-left: 8px;
    }
    
    .modalBox .modal.agreePopBox .pop_con {	
        padding-bottom: 25px;
    }
    .modalBox .modal.agreePopBox .pop_con .txt {	
        height: 340px;
    }
    .modalBox .modal.agreePopBox.box_04 .pop_con .txt {	
        height: 280px;
    }
    .modalBox .help_nicepay {
        display: block;	
        margin-top: 15px;
        padding: 16px 16px;
        border-radius: 8px;
        background-color: #f7f8f9;
        font-size: 0.8125rem;	
        line-height: 1.54;	
        text-align: center;
        color: #6a727b;
    }
    .modalBox .help_nicepay span {	
        display: inline-block;
        padding-left: 5px;
        text-decoration: underline;
        color: #404fc3;
    }
    /* 결제 완료 */
    .pay_complete {
        padding: 0 18px 65px;
    }
    .pay_complete .com_title {	
        padding: 40px 8px 0;
        font-size: 1.5rem;
        font-weight: bold;	
        line-height: 1.42;		
        color: #fff;
    }
    .pay_complete .payment_guide {
        display: flex;
        flex-direction: column;
        gap: 16px 0;
        margin-top: 22px;
        padding: 24px 16px;
        box-sizing: border-box;
        border-radius: 16px;
          background-color: #fff;	
    }
    .pay_complete .payment_guide .guide {
        display: flex;
        gap: 0 24px;
        width: 100%;
    }
    .pay_complete .payment_guide .guide .th {
        flex: 1;	
        font-size: 0.8125rem;	
        line-height: 1.15;	
        color: #6a727b;
    }
    .pay_complete .payment_guide .guide .td_txt {
        flex: 5;	
        font-size: 0.8125rem;	
        font-weight: bold;	
        line-height: 1.2;	
        text-align: left;
        color: #333;
    }
    .pay_complete .payment_guide .deposit_box {
        display: flex;
        flex-direction: column;
        gap: 5px 0;
        padding-top: 16px;	
        border-top: solid 1px #e0e4e9;
    }
    .pay_complete .payment_guide .deposit_info {
        font-size: 0.75rem;
        font-weight: 400;	
        line-height: 1.42;	
        color: #939393;
    }
    .pay_complete .payment_guide .guide .event_info {
        display: block;
        margin-top: 3px;
        font-size: 0.75rem;
        font-weight: 400;	
        line-height: 1.24;	
        color: #939393;
    }
    .pay_complete .go_myhome {
        padding-left: 8px;
        margin-top: 16px;
        font-size: 0.875rem;	
        line-height: 1.43;	
        color: #fff;
    }
    .pay_complete .go_myhome a {
        font-size: 0.875rem;	
        line-height: 1.43;	
        color: #fff;
        text-decoration: underline;
    }
    .pay_complete .btn_home {
        display: block;        
        padding: 13px 5px;
        margin-top: 61px;
        border-radius: 8px;
        border: solid 1px #ffffff60;	
        font-size: 0.9375rem;		
        font-weight: normal;
        line-height: 1.2;	
        color: #fff;
        text-align: center;
    }
    @media (min-width:320px) and (max-width:375px) {
        .serviceStep .step_box {
            padding: 25px 14px;
        }
        .serviceStep .step_box .subscribe span {
            padding: 7px 18px 6px;
            max-width: 54px;
        }
    }
    
    body.v_signalStreng {
        background-color: #fff;
    }
    
    .recom_company {
        position: relative;
        padding: 16px 16px 22px;
        background-color: #fff;
        box-sizing: border-box;
    
        &::after {
            content: "";
            position: absolute;
            bottom: -8px;
            left: 0;
            right: 0;
            display: block;
            width: 100%;
            height: 8px;
            background-color: #f4f4f5;
            z-index: 1;
        }
        
         .ticker {
            display: inline-block;
            font-size: 0.75rem;
            line-height: 1.75;
            font-weight: 500;
            color: #939393;
        }
        
         .stock_index {
            display: inline-block;
        }
        
         .stock_index span {
            display: inline-block;
            padding: 0 3px;
            font-size: 0.75rem;
            font-weight: 500;
            color: #d3d3d3;
        }
        
         .company_nm {
            margin-top: 2px;
            max-width: 90%;
        }
        
         .company_nm,
         .company_nm a {
            display: block;
            font-size: 22px;
            font-weight: 700;
            line-height: 1.23;
            color: #181f29;
        }
        
         .detail {
            margin-top: 3px;
        }
        
         .detail .num {
            font-size: 34px;
        }
        
         .detail .num span {
            font-size: 30px;
            font-weight: 700;
            line-height: 0.77;
            color: #181f29;
        }
        
         .detail .per {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 4px;
            margin-top: 6px;
        }
        
         .detail .per .increase,
         .detail .per .decrease,
         .detail .per .same {
            font-size: 0.9375rem;
            color: #E1305A;
            font-weight: 500;
        }
        
         .detail .per .increase b,
         .detail .per .decrease b,
         .detail .per .same b {
            color: #E1305A;
            font-weight: 500;
        }
        
         .detail .per .decrease {
            color: #303FAF;
        }
        
         .detail .per .decrease b {
            color: #303FAF;
        }
        
         .detail .per .same {
            color: #363F4B;
        }
        
         .detail .per .same b {
            color: #363F4B;
        }
        
         .detail .per .day {		
            margin-left: auto;
            text-align: right;
            font-size: 0.75rem;
            font-weight: 500;
            line-height: 1.42;
            color: #939393;
        }
        
         .attention_box {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            gap: 7px 7px;
            width: 100%;
            position: relative;
            background: #fff;		
            margin: 32px auto 0;
            padding-top: 22px;
            border-top: 1px solid #f4f4f5;			
        }
        
         .attention_box ul {
            display: inline-block;
        }
        
         .attention_box li.attention {
            display: inline-block;
            font-size: 0.8175rem;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.08;
            letter-spacing: normal;
            text-align: left;
            color: #333;
        
        }
        
         .attention_box li.attention strong {
            font-size: 0.8175rem;
            font-weight: bold;
        }
        
         .attention_box li.attention i {
            display: inline-block;
            position: relative;
            top: 2px;
            width: 16px;
            height: 16px;
            background: url('/img/heart_attention.svg') no-repeat 0 4px;
            margin-right: 5px;
            background-size: 16px 32px;
        }
        
         .attention_box .stock_tag {
            display: inline-flex;
            gap: 0 10px;
            margin-left: auto;
        }
        
         .attention_box .stock_tag span,
         .attention_box .stock_tag a {
            font-size: 0.75rem;
            font-weight: 500;
            color: #6a727b;
        }
    }
    
    .list.recom {		
        display: none;
        align-items: center;
        justify-content: space-between;
        gap: 12px 12px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 9999;		
        background-color: #404fc3;
        margin: 0;
        padding: 19px 17px;
        box-sizing: border-box;
        &.fix_data {
            display: flex;
            max-width: 767px;
            margin: 0 auto;
        }
        * {
            margin: 0;
            padding: 0;
            font-size: pxTorem(16px) !important;
            color: #fff !important;
            font-weight: normal !important;		
            div, span, b, li {
                font-size: pxTorem(16px) !important;
                color: #fff !important;
                font-weight: normal !important;			
            }			
        }
    
        
        &::after {
            display: none;
        }
        .list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px 10px;
        }
        .company_nm {
            overflow: hidden;
            max-width: calc(100% - 34px);
            width: calc(100% - 170px);
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: normal !important;
        }	
        .num, .per {
            display: inline-block;		
        }
        .per {
            padding-left: 6px;
            span, b {
                font-weight: normal !important;
                font-size: pxTorem(13px) !important;
            }
        }
        
    }
    
    
    .sub_search .tabs_5 {
        background-color: #fff;
        margin-top: 27px;
        margin-bottom: 0;
    }
    
    .sub_search .tabs_5 li {
        padding: 0 0 11px;
        border-bottom: 1px solid #edeeef;
    }
    
    .sub_search .tabs_5 li a {
        display: inline;
        padding: 15px 1px 11px;
        font-size: 0.9375rem;
        font-weight: bold;
        color: #6a727b;
        border: none;
    }
    
    .sub_search .tabs_5 li.active a {
        color: #404fc3;
        padding: 15px 1px 9px;
        border-bottom: 2px solid #404fc3;
    }
    
    .mainBox.attr {
        position: relative;
        padding: 0 16px;
    }
    
    .mainBox.attr .adequateArea {
        padding-top: 32px;
    }
    
    .mainBox.attr .adequateArea .title {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.2;
        color: #181f29;
    }
    
    .mainBox.attr .adequateArea .listWrap .mid {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 25px 10px;
        margin-top: 16px;
        padding: 20px 20px;
        box-sizing: border-box;
        border-radius: 16px;
        background-color: #f7f8f9;
    }
    
    .mainBox.attr .adequateArea .listWrap .mid .charm_num {
        flex: 1;
        position: relative;
    }
    
    @media (min-width: 426px) {
        .mainBox.attr .adequateArea .listWrap .mid .charm_num {
            flex: 2;
        }
    }
    
    .mainBox.attr .adequateArea .listWrap .mid .charm_num .signal {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 0 auto;
        flex-basis: 65px;
        width: 65px;
        height: 65px;
        box-sizing: border-box;
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1.25;
        text-align: center;
        color: #333;
        background-color: #fff;
    }
    
    .mainBox.attr .adequateArea .listWrap .mid .charm_num .signal.hold {
        /* 보유 */
        color: #333;
    }
    
    .mainBox.attr .adequateArea .listWrap .mid .charm_num .signal.buy {
        /* 매수 */
        color: #E1305A;
    }
    
    .mainBox.attr .adequateArea .listWrap .mid .charm_num .signal.sell {
        /* 매도 */
        color: #404FC3;
    }
    
    .mainBox.attr .adequateArea .listWrap .mid .charm_num .signal.waitting {
        /* 관망 */
        color: #6A727B;
    }
    
    .mainBox.attr .adequateArea .listWrap .mid .charm_num .signal_guide {
        cursor: pointer;
        position: absolute;
        right: -5px;
        top: -5px;
        padding: 5px;
        display: inline-block;
        border-radius: 50%;
    }
    
    .mainBox.attr .adequateArea .listWrap .mid .charm_num .signal_guide img {
        display: block;
    }
    
    .mainBox.attr .adequateArea .listWrap .mid .num_bar {
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
        justify-content: center;
        flex: 2;
        flex-basis: calc(100% - 85px);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 7px;
    }
    
    .mainBox.attr .adequateArea .listWrap .mid .num_bar p {
        /* display: block;
        width: 100%; */
        padding-left: 12px;
        font-size: 0.875rem;
        line-height: 1.36;
        color: #333;
    }
    
    .mainBox.attr .adequateArea .listWrap .mid .num_bar p b {
        font-weight: bold;
        color: #333;
    }
    
    .mainBox.attr .adequateArea .listWrap .mid .num_bar p span.increase {
        color: #E1305A;
    }
    
    .mainBox.attr .adequateArea .listWrap .mid .num_bar p span.decrease {
        color: #303FAF;
    }
    .mainBox.attr .adequateArea .listWrap .upData_Swiper {
        height: 37px;
    }
    .mainBox.attr .adequateArea .listWrap .mid .latest_signal,
    .mainBox.attr .adequateArea .listWrap .mid .latest_signal_lp {
        position: relative;
        display: flex;
        align-items: center;
        gap: 0 6px;
        padding: 17px 0 0;
        width: 100%;
        font-size: 0.8125rem;
        line-height: 1.46;
        color: #333;
        border-top: 1px solid #fff;
        b {
            line-height: 1.46;
            &.increase {
                color: #E1305A;
            }
            &.decrease {
                color: #303FAF;
            }		
            &.same {
                // 
            }		
        }
        
    }
    
    .mainBox.attr .adequateArea .listWrap .mid .latest_signal::before,
    .mainBox.attr .adequateArea .listWrap .mid .latest_signal_lp::before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('/img/icon_awesome_us.svg') no-repeat center center;
        position: relative;
        top: -2px;
    }
    
    .mainBox.attr .adequateArea .listWrap .mid .latest_signal::after,
    .mainBox.attr .adequateArea .listWrap .mid .latest_signal_lp::after {
        content: "";
        display: inline-block;
        transform: rotate(45deg);
        position: absolute;
        width: 6px;
        height: 6px;
        border-top: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        right: 0;
        top: 24px;
    }
    
    .mainBox.attr .adequateArea .listWrap .mid .latest_signal .day,
    .mainBox.attr .adequateArea .listWrap .mid .latest_signal_lp .day {
        display: inline-block;
        padding: 0 2px;
        color: #d3d3d3;
    }
    
}