// 서비스소개
.s_stokes #wrap .service_wrap {
    
    .box.lazy_img {        
        img {
            width: 100%;
            height: 100%;            
            display: inline-block;
        }
    }


}
