/* 주요 내용 container */

#container {    

}
// 달력
.ui-datepicker-div {
    z-index: 11;
}
.ui-datepicker-trigger {
    display: inline-block; 
    vertical-align: sub;                           
    height: 22px;                            
    margin-left: 3px;
    position: relative;
    top: 3px;                            
}
.ui-datepicker-year,
.ui-datepicker-month {    
    font-size: 12px;    
    color: #656d7e;
    height: 24px;
    line-height: 24px;
    box-sizing: border-box;
    padding:  0 3px;    
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #374b9d;
    background: #374b9d;
    color: #fff;;
}
.ui-datepicker-calendar,
.ui-datepicker-current {
    display: none;
}

// 레이어 툴팁
.guide_box {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-125%, 10%);
	box-shadow:0px 0px 7px 2px #dfdfdf;
	border-radius:8px;
	padding:35px 15px 15px;
	background:#fff;
	width:340px;
	box-sizing:border-box;
	z-index:81;    
    text-align: left;
	display:none;
    li, p {        
        line-height: 1.6;
    }
}
.guide_box .clse {
	display:inline-block;
    cursor: pointer;
	font-size:0;
	width:24px;
	height:24px;
	box-sizing: border-box;
	position:absolute;
	right:-7px;
	top:-8px;	
	background-color: #d3d3d3;
	padding:2px;	
	border-radius: 50%;
}
.guide_box .clse {
	display:inline-block;
	font-size:0;
	width:24px;
	height:24px;
	box-sizing: border-box;
	position:absolute;
	right:-7px;
	top:-8px;	
	background-color: #d3d3d3;
	padding:2px;	
	border-radius: 50%;
}
.guide_box .clse::after {
    content: '';
    height: 14px;
    border-left: 1px solid #fff;
    position: absolute;
    transform: rotate(45deg);
	top: 5px;
    left: 12px;
}
.guide_box .clse::before {
    content: '';
    height: 14px;
    border-left: 1px solid #fff;
    position: absolute;
    transform: rotate(-45deg);
    top: 5px;
    left: 12px;
}

.guide_box .txt strong {
	font-size: 12px;	
	line-height: 1.42;	
	color: #6a6a6a;	
}
.guide_box li.list_txt {
	font-size: 12px;	
	line-height: 1.42;	
	text-align: left;
	color: #6a6a6a;	
	padding-left: 10px;
	position: relative;
	word-break: break-all;
    word-wrap: break-word;
}
.guide_box li.list_txt::before {
	content: '';
	width: 5px;
	height: 1px;
	position: absolute;	
	left: 0;
	top: 6px;
	background-color: #6a6a6a;
}
.guide_box .txt {
    font-size: 12px;
    line-height: 1.42;
    color: #6a6a6a;
    text-align: left;
    margin-bottom: 13px;
}

/* 텍스트 필터 */
.s_stokes .remark {
	display: inline-block;
	padding-left: 5px;
	i {
		display: inline-block;
		width: 7px;
		height: 7px;
		opacity: 0.67;
		border-radius: 50%;
		background-color: #999;
		margin: 0 2px 2px;
	}
}
