/***** footer *****/
#footer.f_main {
    background-color: #efefef;
    .f_logo {
        font-size: $font16;
        font-weight: $f_sizeB;        
        line-height: 1;
        letter-spacing: -0.8px;        
        color: #575757;        
    }
    .service_info {
        margin-top: 15px;
        p {
            font-size: 10px;        
            line-height: 1.6;
            letter-spacing: -0.5px;        
            color: #898989;        
        }        
    }
    .terms_list {
        margin-top: 25px;
        display: flex;
        justify-content: flex-start;
        gap: 5px;

        li {
            position: relative;
            border-right: 1px solid #d3d3d3;
            padding-right: 6px;
            line-height: 1;
            a {
                font-size: $font13;                
                line-height: 1;
                text-align: left;
                color: #575757;
            }            
            &:last-child {
                border-right: none;
            }
        }
    }
    .foot_info {
        margin-top: 30px;        

        .info_tel_box {
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            .sns_kakao {
                img {
                    display: inline-block;
                }
            }
            .cs {
                font-size: 10px;                
                line-height: 1.3;                
                text-align: left;
                color: #898989;                
            }
        }
        .copyright {
            margin-top: 20px;            
            font-size: 11px;            
            line-height: 1.55;
            letter-spacing: -0.55px;
            color: #898989;
            a {
                display: inline-block;                
                color: #898989;                
            }
            i {
                display: inline-block;
                background-color: #d3d3d3;
                width: 1px;
                height: 10px;
                margin: 0 4px;
                position: relative;
                top: 1px;
            }
        }
    }
}