/* 헤더 header */
.s_stokes #wrap #header {        
    box-sizing: border-box;    
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    &.main_hdr {
        padding: 10px 15px;
        height: 58px;
    }
    &.sub_hdr {
        padding: 10px 15px;
        height: 44px;        
        .leftLink {                        
            a {
                position: relative;
                padding-left: 10px;
                font-size: $font13;
                line-height: 1.46;
                letter-spacing: -0.33px;                
                color: #898989;  
                &::after {
                    content: '';
                    display: inline-block;
                    width: 6px;
                    height: 6px;                    
                    position: absolute;
                    top: 4px;            
                    left: 0;                    
                    border-top: 1px solid #898989;
                    border-right: 1px solid #898989;            
                    transform: rotate(-135deg);
                }            
            }
        }        
    }

    .bgWrap {        
        // height: 59px;        
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        .title {                        
            align-self: center;
            box-sizing: border-box;            
            .h1_logo {                                  
                color: #c22e06;
                a, img {
                    display: inline-block;                
                    width: 100%;    
                    height: 100%;            
                    font-size: 22px;
                    font-weight: normal;                    
                    letter-spacing: -0.55px;
                    text-align: left;
                    color: #c22e06;            
                    vertical-align: baseline;        
                }
            }                        
        }
        .r_menu {            
            align-self: center;
            display: flex;
            gap: 15px;
            align-self: flex-end;
            padding-bottom: 5px;
            a {
                font-size: $font14;                                
                letter-spacing: -0.35px;                
                color: #222;
                padding: 5px 0;
                box-sizing: border-box;
                img {
                    display: inline-block;
                    vertical-align: middle;
                    padding-bottom: 2px;
                }
            }
        }
        .gnb {
            display: inline-block;
            vertical-align: bottom;            
            ul {
                display: flex;    
                justify-content: space-between;                
                li {
                    margin-left: 23px;
                    &:first-child {
                        margin-left: 0;
                    }
                    display: inline-block;                                
                    a {
                        display: inline-block;
                        height: 42px;        
                        padding: 9px 1px 0;
                        box-sizing: border-box;
                        font-size: 15px;                    
                        color: #fff;
                    }
                    &.active {
                        a {                            
                            border-bottom: 4px solid #fff;                                                        
                            font-weight: $f_sizeB;
                        }                        
                    }
                }
            }            
        }        
        
        
        .premium {
            float: right;
            display: inline-block;
            vertical-align: top;
            margin-top: 12px;            
            a.join {                
                display: inline-block;
                font-size: 14px;
                font-weight: bold;            
                letter-spacing: -0.35px;            
                padding-left: 20px;
                color: #fff;
                position: relative;
                vertical-align: top;
                &::before {
                    content: '';                    
                    position: absolute;
                    left: 5px;
                    top: 3px;
                    display: inline-block;
                    width: 10.4px;
                    height: 14px;
                    background: url('/img/premium_join_bg.png') no-repeat 0 0;
                    background-size: cover;
                }
            }             
            .loginId {
                padding-left: 20px;                
                display: inline-block;                                                
                position: relative;
                top: -2px;
                .login {
                    display: inline-block;                                                            
                    width: 24px;
                    height: 24px;
                    img {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                    }
                }
            }           
        }
        
    }
    

}