/* 헤더 header */
#header {    
    padding: 0 15px;
    box-sizing: border-box;    
    background-color: #fff;
    .bgWrap {        
        height: 59px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        .title {                        
            align-self: center;
            box-sizing: border-box;            
            .h1_logo {                                  
                color: #c22e06;
                a, img {
                    display: inline-block;                
                    width: 100%;    
                    height: 100%;            
                    font-size: 22px;
                    font-weight: normal;                    
                    letter-spacing: -0.55px;
                    text-align: left;
                    color: #c22e06;            
                    vertical-align: baseline;        
                }
            }                        
        }
        .r_menu {            
            align-self: center;
            display: flex;
            gap: 9px;
        }
        .gnb {
            display: inline-block;
            vertical-align: bottom;            
            ul {
                display: flex;    
                justify-content: space-between;                
                li {
                    margin-left: 23px;
                    &:first-child {
                        margin-left: 0;
                    }
                    display: inline-block;                                
                    a {
                        display: inline-block;
                        height: 42px;        
                        padding: 9px 1px 0;
                        box-sizing: border-box;
                        font-size: 15px;                    
                        color: #fff;
                    }
                    &.active {
                        a {                            
                            border-bottom: 4px solid #fff;                                                        
                            font-weight: $f_sizeB;
                        }                        
                    }
                }
            }            
        }        
        .searchArea {
            position: relative;
            margin-left: 40px;
            display: inline-block;
            vertical-align: top;  
            margin-top: 7px;                   

            form {
                position: relative;
                .searchInput {
                    width: 210px;
                    height: 28px;
                    box-sizing: border-box;
                    padding: 7px 6px 7px 28px;                
                    border-radius: 4px;
                    border: solid 1px rgba(137, 160, 255, 0.51);
                    background-color: #273986;                
                    color: #fff;
                    font-size: 12px;                    
                    &::placeholder {
                        color: #fff;
                        font-size: 12px;                                            
                    }
                    &:focus {
                        outline: none;
                    }
                }
                .searchBtn {
                    position: absolute;
                    left: 7px;
                    top: 7px;
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                }
            }
            .AutoComplete {  
                border-bottom-left-radius: 5px;          
                border-bottom-left-radius: 5px;                          
                display: none;                
                position: absolute;
                left: 0;
                right: 0;
                top:30px;
                background: #fff;
                box-sizing: border-box;
                padding: 0;
                border:1px solid #ececec;
                z-index: 85;
                width: 500px;
                max-height: 185px;
                overflow: auto;
                overflow-x: hidden;                
                box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.09);

                .no_result {
                    font-size: 15px;                                                
                    letter-spacing: -0.33px;                        
                    color: #656d7e;                        
                    padding: 5px 10px;
                }
                
                li {                    
                    line-height: 1;
                    padding: 5px 10px;
                    padding-bottom: 5px;
                    a {
                        display: block;
                        font-size: 13px;                                                
                        letter-spacing: -0.33px;                        
                        color: #656d7e;
                        strong {
                            font-weight: $f_sizeB;
                        }
                    }         
                    &:nth-child(2n) {
                        background: #f4f6fa;
                    }
                    .schCode {
                        padding-right: 7px;
                    }
                    &._on {
                        background-color: #273986;
                        a, strong, span {                            
                            color: #fff;
                        }                        
                    }                    
                }        
            }
        }
        
        .premium {
            float: right;
            display: inline-block;
            vertical-align: top;
            margin-top: 12px;            
            a.join {                
                display: inline-block;
                font-size: 14px;
                font-weight: bold;            
                letter-spacing: -0.35px;            
                padding-left: 20px;
                color: #fff;
                position: relative;
                vertical-align: top;
                &::before {
                    content: '';                    
                    position: absolute;
                    left: 5px;
                    top: 3px;
                    display: inline-block;
                    width: 10.4px;
                    height: 14px;
                    background: url('/img/premium_join_bg.png') no-repeat 0 0;
                    background-size: cover;
                }
            }             
            .loginId {
                padding-left: 20px;                
                display: inline-block;                                                
                position: relative;
                top: -2px;
                .login {
                    display: inline-block;                                                            
                    width: 24px;
                    height: 24px;
                    img {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                    }
                }
            }           
        }
        
    }
    

}