// 변수들
$col333: #333; //텍스트 기본색
$colgray: #82929F; //옅은색
$colsilver: #49525C; //진한옅은색
$colred: #F2333A; //상승
$colblue: #006BFC; //하락
$collink: #094DAA; //링크
$colorg: #E57828; //어린쥐

// Set a default value
$default-padding: 0px;
$default-margin: 0px;
$default-fontfamily: 'Spoqa Han Sans Neo', "Malgun gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font12: 0.75rem;
$font13: 0.8125rem;
$font14: 0.875rem;
$font15: 0.9375rem;
$font16: 1rem;
$font18: 1.125rem;
$font20: 1.25rem;

// pc 1024px ~
html{font-size:16px;} 
@mixin tablet {
  @media (min-width:1023px){
  // 테블릿 가로, 테블릿 세로 : 768px ~ 1023px
  html{font-size:16px;};
  @content;
  }
}
@mixin mobile375 {
  @media (max-width:767px){
  // 모바일 가로, 모바일 세로 : ~ 767px
  html{font-size:16px;};
  @content;
  }
}
@mixin mobile {
  @media (max-width:374px){
  // 모바일 가로 : 320 ~ 374px
  html{font-size:14px;};
  @content;  
  }
}

@mixin font-family {
  font-family: $default-fontfamily;
  line-height:normal;        
}

@mixin font-size($n:1) {
  font-size: $n * 1em;
}

@mixin pad($n: $default-padding) {
  padding: $n;
}
@mixin mar($n: $default-margin) {
  padding: $n;
}
@mixin white-space {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
}

