// 변수들
//color
$colorbg: #f7f7f8;
$collonk: #527bea;
$colup: #c22e06;
$coldown: #4389f8;
//primary
$colpmr: #374b9d;
$colpmr10: #f7f9fd;
$colpmr100: #edf3ff;
$colpmr500: #93add3;
$colpmr800: #3655d6;
//txt
$coltxt: #222;
$col200: #bdc8d8;
$col300: #b1b9cb;
$col500: #656d7e;
$f_sizeS:300;
$f_sizeN:400;
$f_sizeB:700;
$font12: 0.75rem;
$font13: 0.8125rem;
$font14: 0.875rem;
$font15: 0.9375rem;
$font16: 1rem;
$font18: 1.125rem;
$font20: 1.25rem;

// Set a default value
$default-padding: 0px;
$default-margin: 0px;
$default-fontfamily: 'Spoqa Han Sans Neo', "Malgun gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;

@mixin font-family {
    font-family: $default-fontfamily;
    line-height:normal;        
}
@mixin pad($n: $default-padding) {
    padding: $n;
}
@mixin mar($n: $default-margin) {
    padding: $n;
}
@mixin white-space {
    box-sizing: border-box;
    display: block;
    // width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
}

// 버튼 css
@mixin one_btn {          
    position: relative;        
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 16px 0;            
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
    border-radius: 5px;    
    font-size: $font18;
    letter-spacing: -0.9px;
    text-align: center;    
    font-size: $font15;        
    letter-spacing: -0.38px;    
    color: #fff;

    b {
        color: #fff;                    
        font-weight: $f_sizeB;                
    }    
}
@mixin two_btn {          
    display: flex;
    justify-content: space-between;  
    gap: 5px;

    .btn {    
        flex: 1;
        padding: 16px 0;            
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #c22e06;
        font-size: 18px;
        font-weight: $f_sizeB;                
        letter-spacing: -0.9px;
        text-align: center;
        color: #fff;          
        &:first-child {
            border: solid 1px #d3d3d3;
            background-color: #fff;
            color: #898989;
        }                     
    }
}

@mixin listswiper {
    .list_area .list .title a {            
        @include white-space;
        font-size: $font16;
        font-weight: $f_sizeB;                
        letter-spacing: -0.4px;                
        color: #222;
    }

    .list_area .list .detail { 
        padding-top: 4px;
        line-height: 0.85;
        span {
            font-size: $font12;                                    
            letter-spacing: -0.3px;                
            color: #898989;
        }                           
    }
    .list_area .list .num {            
        display: flex;
        justify-content: space-between;                
    }
    .list_area .list .num > div {        
        width: 100%;        
        display: flex;        
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .list_area .list .num .th {
        width: 100%;
        display: block;
        font-size: $font12;                
        line-height: 1.5;
        letter-spacing: -0.3px;                
        color: #898989;
    }

    .list_area .list .num .td {        
        font-size: $font16;                
        line-height: 1.5;
        letter-spacing: -0.4px;                
        color: #222;
    }

    .list_area .list .num .td b {
        font-weight: $f_sizeB;
    }

    .list_area .list .num .trans {
        display: inline-block;
        text-align: center;
        border-radius: 3px;                
        font-size: 10px;                
        line-height: 1.5;
        letter-spacing: -0.25px;                
        color: #fff;
        min-width: 38px;
        padding: 3px 5px 2px;
        box-sizing: border-box;
        vertical-align: middle;
        margin-left: 3px;              
        
        &.nice {
            background-color: #c22c06;                
        }
        &.gro {
            background-color: #63bcb9;
        }
        &.turn {
            background-color: #e6a01c;
        }
           
    }

}
